

.before_login_sec {
    padding: 50px 0;
    background-image: url(../public/images/before-login-bg.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    @media only screen and (min-width: 240px) and (max-width: 767px) {
        padding: 30px 10px;
    }
    .before_login_box {
        box-shadow: 0px 12px 40px 0px #FF452312;
        border: 1px solid #E4E3E3;
        margin: auto;
        padding: 50px;
        border-radius: 10px;
        background: #fff;
        @media only screen and (min-width: 240px) and (max-width: 767px) {
            padding: 30px 20px;
        }
        .before_login_heading {
            width: 100%;
            text-align: center;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
            color: #7F818D;
            margin: 0 0 30px;
            h2 {
                font-size: 35px;
                font-weight: 600;
                line-height: 43px;
                letter-spacing: 0em;
                text-align: center;
                color: #333;
                @media only screen and (min-width: 240px) and (max-width: 767px) {
                    font-size: 30px;
                    line-height: 38px;
                }
            }
        }
        .social_login {
            width: 100%;
            ul {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                li {
                    @media only screen and (min-width: 240px) and (max-width: 575px) {
                        width: 100%;
                        margin-bottom: 15px;
                    }
                    a {
                        min-width: 80%;
                        border: 1px solid #DEDEDE;
                        padding: 10px 35px;
                        display: inline-block;
                        border-radius: 5px;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 16px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #7F818D;
                        img {
                            margin-right: 10px;
                        }
                        @media only screen and (min-width: 240px) and (max-width: 575px) {
                            width: 100%;
                        }
                        @media only screen and (min-width: 576px) and (max-width: 767px) {
                            min-width: 60%;
                            padding: 10px 25px;
                        }
                    }
                }
            }
        }
        .login_or {
            width: 100%;
            text-align: center;
            position: relative;
            padding: 20px 0;
            &::before {
                width: 100%;
                height: 1px;
                content: "";
                position: absolute;
                background: #ECECEC;
                left: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                z-index: 1;
            }
            span {
                padding: 10px;
                background: #fff;
                position: relative;
                z-index: 2;
                font-size: 14px;
                font-weight: 500;
                line-height: 33px;
                letter-spacing: 0em;
                text-align: left;
                color: #9B9B9B;
            }
        }
        .before_login_form_wrap {
            .form-group {
                label {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 16px;
                    text-align: left;
                    color: #333;
                    margin-bottom: 15px;
                }
                .form_field_wrap {
                    width: 100%;
                    height: 58px;
                    border-radius: 5px;
                    border: 1px solid #DBDBDB;
                    position: relative;
                    .form-control {
                        width: 100%;
                        height: 100%;
                        padding: 10px 15px;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 16px;
                        text-align: left;
                        border: none;
                        color: #7F818D;
                        &::placeholder {
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 16px;
                            letter-spacing: 0em;
                            text-align: left;
                            color: #7F818D;
                        }
                        &:focus {
                            outline: none;
                            box-shadow: none;
                        }
                    }
                    .show_password {
                        width: 24px;
                        height: 24px;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 10px;
                        margin: auto;
                        cursor: pointer;
                    }
                }
                .terms_check {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0;
                    @media only screen and (min-width: 240px) and (max-width: 767px) {
                        width: auto;
                        flex-wrap: wrap;
                        padding: 0 0 5px;
                    }
                    label.remember_checkbox {
                        color: #7F818D;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 30px;
                        margin: 0;
                        padding-left: 6px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        @media only screen and (min-width: 240px) and (max-width: 767px) {
                            font-size: 14px;
                        }
                        input {
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            height: 0 !important;
                            width: 0 !important;
                            &:checked~.checkmark:after {
                                display: block;
                            }
                            &:checked~.checkmark {
                                background: #DB2302;
                                border-color: #DB2302;
                            }
                        }
                        .checkmark {
                            border: 2px solid #7F818D;
                            background: transparent;
                            border-radius: 2px;
                            width: 18px;
                            height: 18px;
                            position: relative;
                            margin-right: 10px;
                            display: inline-block;
                            &::after {
                                content: "";
                                position: absolute;
                                display: none;
                            }
                            &::after {
                                left: 0;
                                top: -3px;
                                right: 0;
                                bottom: 0;
                                margin: auto;
                                width: 5px;
                                height: 10px;
                                border: solid #fff;
                                border-width: 0 2px 2px 0;
                                -webkit-transform: rotate(45deg);
                                -ms-transform: rotate(45deg);
                                transform: rotate(45deg);
                            }
                        }
                        
                    }
                } 
                .remember_forgot {
                    label.remember_checkbox {
                        color: #333333;
                        font-weight: 500;
                        .checkmark {
                            width: 20px;
                            height: 20px;
                            border-radius: 5px;
                            border: 1px solid #DBDBDB;
                        }
                    }
                    a {
                        font-size: 15px;
                        font-weight: 500;
                        line-height: 33px;
                        color: #DB2302;
                    }
                }
                .submit_button {
                    height: 55px;
                    background: #DB2302;
                    color: #fff;
                    text-align: center;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 22px;
                    text-align: center;
                    @media only screen and (min-width: 240px) and (max-width: 767px) {
                        font-size: 16px;
                        height: 50px;
                    }
                }
            }
            .allready_account {
                font-size: 15px;
                font-weight: 400;
                line-height: 18px;
                a {
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 18px;
                    color: #DB2302;
                }
            }
            .custom_radio {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                @media only screen and (min-width: 240px) and (max-width: 767px) {
                    flex-wrap: wrap;
                }
                label {
                    margin-bottom: 0;
                    position: relative;
                }
                .custom_radio_wrap {
                    display: flex;
                    align-items: center;
                    margin-left: 20px;
                    position: relative;
                    @media only screen and (min-width: 240px) and (max-width: 767px) {
                        width: 100%;
                        margin: 15px 0 0 0;
                    }
                    label {
                        position: relative;
                        padding-left: 20px;
                        
                    }
                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        width: 100%;
                        height: 100%;
                        z-index: 9;
                        &:checked~.checkmark:after {
                            display: block;
                        }
                        &:checked~.checkmark {
                            border-color: #DB2302;
                        }
                    }
                    .checkmark {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 14px;
                        width: 14px;
                        background-color: #fff;
                        border-radius: 50%;
                        border: solid 2px #7F818D;
                        &::after {
                            content: "";
                            position: absolute;
                            display: none;
                            width: 70%;
                            height: 70%;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            margin: auto;
                            border-radius: 50%;
                            background: #DB2302;
                        }
                    }
                }
            }
        }
    }
}