
.header {
    background: #022335;
    .header_top {
        .header_top_left {
            color: #FFF;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 41px;
            p {
                margin: 0;
            }
        }
        .header_top_right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            ul {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                li {
                    color: #FFF;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    padding: 0 10px;
                    border-right: solid 1px #fff;
                    &:last-child {
                        border-right: none;
                        padding-right: 0;
                    }
                    a {
                        color: #FFF;
                    }
                }
            }
        }
    }
}