

.profile_details_section {
    width: 100%;
    padding: 50px 0;
    background-image: url(../public/images/before-login-bg.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    .profile_details_heading {
        margin-bottom: 30px;
        h1 {
            font-size: 35px;
            font-weight: 600;
            line-height: 43px;
            color: #333333;
        }
    }
    .profile_details_box {
        background: #fff;
        border: 1px solid #E4E3E3;
        box-shadow: 0px 12px 40px 0px #FF452312;
        padding: 35px;
        border-radius: 27px;
        display: flex;
        flex-wrap: wrap;
        .profile_details_box_left {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            position: relative;
            .profile_details_box_image {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                overflow: hidden;
                border: solid 5px #D9D9D9;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .edit_profile_icon {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                background: #E7E7E7;
                position: absolute;
                right: 0;
                bottom: 10px;
                z-index: 2;
                .camera_icon {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }
                input {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    opacity: 0;
                    cursor: pointer;
                }
            }
        }
        .profile_details_box_right {
            width: calc(100% - 150px);
            padding-left: 30px;
            .profile_details_box_right_top {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                h2 {
                    font-size: 28px;
                    font-weight: 600;
                    line-height: 33px;
                    color: #333333;
                    text-transform: capitalize;
                }
                button {
                    background: #DB2302;
                    padding: 8px 12px;
                    border-radius: 6px;
                    color: #fff;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 24px;
                    border: none;
                    text-transform: capitalize;
                    &:focus {
                        border: none;
                        box-shadow: none;
                        outline: none;
                    }
                }
            }
            .profile_details_box_right_middle {
                width: 100%;
                height: auto;
                ul {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    li {
                        margin-right: 15px;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 19px;
                        color: #333333;
                        img {
                            margin-right: 5px;
                        }
                        a {
                            color: #333333;
                        }
                    }
                }
                .business_type {
                    width: 100%;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 15px;
                    color: #7F818D;
                    margin-top: 20px;
                    span {
                        background: #D9D9D9;
                        padding: 10px 16px;
                        color: #022335;
                        display: inline-block;
                        border-radius: 4px;
                        font-family: Work Sans;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 19px;
                    }
                }
            }
            .profile_details_box_right_bottom {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 20px;
                .profile_details_box_right_bottom_left {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16px;
                    color: #7F818D;
                    p {
                        margin-bottom: 0;
                        span {
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 19px;
                            color: #333333;
                            margin-left: 10px;
                        }
                    }
                }
                .profile_details_box_right_bottom_right {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    span {
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 24px;
                        color: #4FD992;
                        margin-right: 10px;
                    }
                    .form-control {
                        height: auto;
                        background: #fff;
                        border: 1px solid #DBDBDB;
                        padding: 12px 16px;
                        border-radius: 4px;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 23px;
                        color: #7F818D;
                    }
                }
            }
        }
    }
    .profile_info_main {
        width: 100%;
        margin-top: 50px;
        .profile_info_tab_list {
            width: 100%;
            ul {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                li {
                    margin-right: 25px;
                    a {
                        padding: 15px 35px;
                        display: inline-block;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 22px;
                        color: #7F818D;
                        background: linear-gradient(0deg, #E4E3E3, #E4E3E3), linear-gradient(0deg, #EEEDF0, #EEEDF0);
                        border: 1px solid #E4E3E3;
                        border-radius: 10px 10px 0 0;
                    }
                }
                li.active {
                    a {
                        background: #DB2302;
                        color: #fff;
                    }
                }
            }
        }
        .profile_info_main_box {
            width: 100%;
            padding: 50px 35px;
            background: #fff;
            box-shadow: 0px 12px 40px 0px #FF452312;
            border: 1px solid #E4E3E3;
            .profile_details_section_wrap {
                width: 100%;
                padding-top: 10px;
                .profile_details_section_top {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-bottom: 20px;
                    h2 {
                        font-size: 26px;
                        font-weight: 600;
                        line-height: 33px;
                        color: #333333;
                        text-transform: capitalize;
                    }
                    button {
                        background: #DB2302;
                        padding: 8px 12px;
                        border-radius: 6px;
                        color: #fff;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 24px;
                        border: none;
                        text-transform: capitalize;
                        &:focus {
                            border: none;
                            box-shadow: none;
                            outline: none;
                        }
                    }
                }
                .profile_details_section_content {
                    width: 100%;
                    .profile_details_content_list {
                        width: 100%;
                        padding: 15px 0;
                        .profile_details_content_list_label {
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 16px;
                            color: #7F818D;
                            text-transform: capitalize;
                        }
                        .profile_details_content_list_content {
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 19px;
                            color: #333333;
                            label {
                                font-size: 18px;
                                font-weight: 600;
                                line-height: 21px;
                                color: #333333;
                                margin-bottom: 15px;
                            }
                            p {
                                margin: 0;
                                a {
                                    font-weight: 700;
                                    color: #DB2302;
                                }
                            }
                        }
                    }
                }
                hr {
                    width: 100%;
                    height: 1px;
                    margin: 20px 0;
                    background: transparent;
                    border: none;
                    border-bottom: 2px dashed #DBDBDB;
                }
            }
        }
    }
}