

.sidebar {
    width: 220px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 99;
    .sidebar_top {
        width: 100%;
        height: 178px;
        background: #022335;
        box-shadow: 9px -2px 29px 0px rgba(0, 0, 0, 0.33);
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .sidebar_menu {
        width: 100%;
        height: calc(100% - 178px);
        padding: 40px 20px 20px;
        overflow-y: auto;
        ul {
            display: grid;
            row-gap: 40px;
            li {
                width: 100%;
                color: #566882;
                font-family: 'Poppins', sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                a {
                    width: 100%;
                    display: block;
                    color: #566882;
                    svg {
                        margin-right: 6px;
                    }
                }
            }
        }
    }
}