@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
    /* theme colors */
    --theme-primary-color: #DB2302;
    --theme-secondary-color: #022335;
    --theme-gray-light: #F3F3F3;
    --theme-gray-dark: #E8E8E8;
    --white-color: #fff;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {

  /* start: common */
  .table-responsive {
    @apply w-[100%] overflow-x-auto;
  }

  /* start: theme-primary-btn */
  @-webkit-keyframes criss-cross-right {
    0% {
      right: -20px;
    }

    50% {
      right: 50%;
      width: 20px;
      height: 20px;
    }

    100% {
      right: 50%;
      width: 875px;
      height: 875px;
    }
  }

  @keyframes criss-cross-right {
    0% {
      right: -20px;
    }

    50% {
      right: 50%;
      width: 20px;
      height: 20px;
    }

    100% {
      right: 50%;
      width: 875px;
      height: 875px;
    }
  }

  @-webkit-keyframes criss-cross-left {
    0% {
      left: -20px;
    }

    50% {
      left: 50%;
      width: 20px;
      height: 20px;
    }

    100% {
      left: 50%;
      width: 875px;
      height: 875px;
    }
  }

  @keyframes criss-cross-left {
    0% {
      left: -20px;
    }

    50% {
      left: 50%;
      width: 20px;
      height: 20px;
    }

    100% {
      left: 50%;
      width: 375px;
      height: 375px;
    }
  }

  .theme-primary-btn {
    @apply bg-[var(--theme-primary-color)] text-[16px] text-white !important;
    border-radius: 2px;
    @apply relative z-[1] overflow-hidden flex items-center justify-center text-center cursor-pointer capitalize font-medium !important;
    transition: all 0.5s !important;
  }

  .theme-primary-btn::before,
  .theme-primary-btn::after {
    transition: all 0.5s !important;
    @apply z-[-1];
  }

  .theme-primary-btn:hover {
    @apply text-[color:var(--white-color)] shadow-[1px_3px_12px_#afafaf];
  }

  .theme-primary-btn:before,
  .theme-primary-btn:after {
    @apply absolute content-[''] w-5 h-5 rounded-[50%] top-2/4 bg-[var(--theme-secondary-color)];
  }

  .theme-primary-btn:before {
    @apply -translate-x-2/4 -translate-y-2/4 -left-5;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .theme-primary-btn:after {
    @apply translate-x-2/4 -translate-y-2/4 -right-5;
    -webkit-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
  }

  .theme-primary-btn:hover:before {
    -webkit-animation: criss-cross-left 0.8s both;
    animation: criss-cross-left 0.8s both;
  }

  .theme-primary-btn:hover:after {
    -webkit-animation: criss-cross-right 0.8s both;
    animation: criss-cross-right 0.8s both;
  }

  /* end: theme-primary-btn */
  /* start: normal buttons */
  .theme-white-outline-btn {
    @apply font-medium text-white !important;
    @apply border border-[--white-color] flex items-center justify-center text-center cursor-pointer capitalize text-[16px] !important;
    border-radius: 3px;
    transition: all 0.5s !important;
  }

  .theme-white-outline-btn:hover {
    box-shadow: 1px 1px 11px #333;
  }

  /* end: normal buttons */
  .theme-form-control-s1 {
    @apply !h-12 w-full rounded border !border-gray-300 px-3 text-sm;
  }

  .theme-form-control-s1:focus {
    box-shadow: none !important;
    outline: none !important;
    @apply border-[var(--theme-primary-color)] !important;
  }

  /* start: phone-no-with-country-select-s1 */
  .phone-no-with-country-select-s1 {
    @apply relative;
  }

  .phone-no-with-country-select-s1 .country-select {
    @apply absolute z-[2] w-20 h-full left-0 top-0;
  }

  .phone-no-with-country-select-s1 .country-select select {
    @apply bg-transparent rounded-none border-l-0 border-y-0;
    @apply h-full !important;
  }

  .phone-no-with-country-select-s1 .phone-no .theme-form-control-s1 {
    @apply pl-[90px] !important;
  }

  /* end: phone-no-with-country-select-s1 */
  /* end: common */
  /* start: theme-table-s1 */
  .theme-table-s1 table {
    @apply w-full border-[0] border-separate border-spacing-0;
  }

  .theme-table-s1 table thead tr th {
    @apply bg-[var(--theme-gray-light)] border-y-[1px] border-[var(--theme-gray-dark)];
    @apply text-[#333] text-[14px] font-[500] leading-[normal] capitalize;
    @apply py-[16px] px-[16px];
  }

  .theme-table-s1 table thead tr th:first-child {
    @apply border-l-[1px] border-[var(--theme-gray-dark)] rounded-tl-[5px] rounded-bl-[5px];
  }

  .theme-table-s1 table thead tr th:last-child {
    @apply border-l-[1px] border-[var(--theme-gray-dark)] rounded-tr-[5px] rounded-br-[5px];
  }

  .theme-table-s1 table tbody tr {
    @apply bg-transparent !important;
  }

  .theme-table-s1 table tbody tr td {
    @apply text-[#7F818D] text-[15px] font-[500] leading-[24px] capitalize;
    @apply py-[16px] px-[16px];
    @apply border-b-[1px] border-[var(--theme-gray-dark)];
  }

  .theme-table-s1 .product-image-with-text {
    @apply flex gap-x-[20px] items-center;
  }

  .theme-table-s1 .product-image-with-text .image-container {
    @apply w-[82px] h-[82px] border-[1px] border-[var(--theme-gray-dark)] bg-white;
  }

  .theme-table-s1 .product-image-with-text .image-container img {
    @apply w-full h-full object-scale-down rounded-[inherit];
  }

  .theme-table-s1 .product-image-with-text figcaption {
    @apply text-[#7F818D] text-[15px] not-italic font-medium leading-6 capitalize;
  }

  .theme-table-s1 .td-action-btns {
    @apply flex items-center gap-x-4;
  }

  .theme-table-s1 .td-action-btns .td-circle-btn {
    @apply w-[35px] h-[35px] flex items-center justify-center shadow-none transition ease-in-out p-0 rounded-[50%] hover:shadow-[0px_1px_9px_0px_#ababab];
  }

  .theme-table-s1 .td-action-btns .td-circle-btn img {
    @apply w-[18px];
  }

  .theme-table-s1 .td-action-btns .td-circle-btn.edit {
    @apply bg-[#F2F4F5];
  }

  .theme-table-s1 .td-action-btns .td-circle-btn.trash {
    @apply bg-[#FEF8F7];
  }

  .theme-pagination-s1 {
    @apply flex flex-wrap justify-center w-full gap-x-1.5 pt-12 pb-8 px-0;
  }

  .theme-pagination-s1 button:not(.theme-primary-btn) {
    @apply w-[30px] h-[30px] border bg-white text-black text-[13px] not-italic font-medium leading-[13px] p-0 rounded-none border-solid border-[#E0E0E0];
  }

  .theme-pagination-s1 button.theme-primary-btn {
    @apply h-[30px] w-[71px] gap-x-1.5 p-0 rounded-[1.96px];
  }

  .theme-pagination-s1 button.theme-primary-btn.first {
    @apply mr-2.5;
  }

  .theme-pagination-s1 button.theme-primary-btn.last {
    @apply ml-2.5;
  }

  .theme-pagination-s1 button.current {
    @apply bg-[var(--theme-primary-color)] text-[#fff] border-[var(--theme-primary-color)] !important;
  }

  /* end: theme-table-s1 */
  /* start: body-content-s1 */
  .body-content-s1 {
    @apply py-[42px];
  }

  .custom-container-s1 {
    @apply max-w-[1440px] w-full mx-auto;
  }

  .body-content-s1-card {
    @apply px-[26px] py-[26px] !important;
  }

  .body-content-s1-search {
    @apply px-[0] pt-[0] pb-[26px] !important;
  }

  .body-content-s1-search .search-box {
    @apply bg-[url(../../assets/images/search-icon-gray.svg)] bg-no-repeat h-10 bg-[left_26px_center] bg-[#F8F5F5] border shadow-none text-[#A8A8A8] text-[13.261px] font-normal leading-[normal] tracking-[-0.029px] pl-12 pr-2.5 py-0 rounded-none border-solid border-[#F8F5F5];
    outline: none !important;
    @apply transition ease-in-out;
  }

  .body-content-s1-search .search-box::placeholder {
    @apply opacity-70;
  }

  .body-content-s1-search .right-filter-lists {
    @apply flex items-center gap-x-4 ml-auto;
  }

  .body-content-s1-search .right-filter-lists .search-box {
    @apply w-80;
  }

  input:focus {
    box-shadow: none !important;
    @apply border-[var(--theme-primary-color)] !important;
  }

  .body-content-s1 .main-content {
    @apply px-[0] py-[0] !important;
  }

  .body-content-s1 .main-content-card {
    @apply p-4;
  }

  /* end: body-content-s1 */
  /* start: theme-inside-auth-sec */
  /* .theme-inside-auth-sec {
    padding: 32px 0;
  }

  .theme-inside-auth-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-height: 480px;
    display: flex;
    overflow: hidden;
  }

  .theme-inside-auth-container.mx-w-800px {
    max-width: 800px;
  }

  .theme-inside-auth-container .left-div {
    width: 100%;
    max-width: 53%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 42px 42px;
  }

  .theme-inside-auth-container .right-div {
    width: 100%;
    max-width: 47%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 42px 42px;
    background-image: linear-gradient(to bottom, #022335, #242f62, #742472, #bc0054, #db2302);
  }

  .theme-inside-auth-container .social-icon-lists {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
    width: 100%;
  }

  .theme-inside-auth-container .social-icon-lists .icon-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--theme-gray-dark);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .theme-inside-auth-container .social-icon-lists .icon-btn svg {
    height: 20px;
    width: 20px;
  }

  .theme-inside-auth-container .left-div h2 {
    line-height: 32px;
    font-size: 32px;
    color: #022335;
    font-weight: 700;
    text-align: center;
  }

  .theme-inside-auth-container .left-div form {
    margin-top: 24px;
  }

  .theme-inside-auth-container .left-div form label {
    font-size: 14px;
    font-weight: 400;
    @apply text-[#7F818D];
  }

  .theme-inside-auth-container .right-div h2 {
    font-size: 32px;
    line-height: 32px;
    color: #fff;
    font-weight: 700;
  }

  .theme-inside-auth-container .right-div p {
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 24px;
  }

  .theme-inside-auth-container .right-div .action-btns {
    display: flex;
    justify-content: center;
    margin-top: 28px;
  }

  .theme-inside-auth-container .right-div .action-btns .submit-btn {
    height: 42px;
    padding: 0 16px;
    min-width: 160px;
  } */

  /* end: theme-inside-auth-sec */

  /* start: custom-inner-banner-s1 */
  .custom-inner-banner-s1-captionBox {
    @apply relative z-[1] flex justify-between items-center gap-x-8 pl-20 pr-[60px] pt-[34px] pb-10;
  }

  .custom-inner-banner-s1-captionBox .bg-image {
    @apply absolute z-[-1] w-full h-full object-cover left-0 top-0;
  }

  .page-indicator {
    @apply flex flex-wrap w-full gap-x-2.5;
  }

  .page-indicator li {
    @apply text-sm font-normal leading-[28.8px] tracking-[0.14px] uppercase text-[#7F818D] flex items-center gap-x-2.5;
  }

  .page-indicator li a {
    @apply text-[inherit] font-[inherit] leading-[inherit] tracking-[inherit] text-[color:var(--theme-primary-color)];
    text-transform: inherit;
  }

  .custom-inner-banner-s1-captionBox h2 {
    @apply text-[#333] text-[35px] font-medium leading-[normal] capitalize mt-4;
  }

  .custom-inner-banner-s1-captionBox h2.fwbold {
    font-weight: 600;
  }

  .custom-inner-banner-s1-captionBox h5 {
    @apply text-[#7F818D] text-[15px] font-normal leading-6 mt-5;
  }

  .custom-inner-banner-s1-captionBox h4 {
    @apply text-[#669D03] text-lg font-semibold leading-6;
  }

  .custom-inner-banner-s1-captionBox .discount_text {
    color: var(--theme-primary-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: 0.18px;
  }

  .custom-inner-banner-s1-captionBox .discount_text span {
    display: inline-block;
    position: relative;
    padding-right: 71px;
  }

  .custom-inner-banner-s1-captionBox .discount_text span::after {
    content: '';
    clear: both;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 64px;
    height: 1px;
    background: linear-gradient(90deg, var(--theme-primary-color) 0%, rgba(175, 39, 12, 0.00) 100%);
  }

  .custom-inner-banner-s1-captionBox .action-btns {
    @apply flex mt-7;
  }

  .custom-inner-banner-s1-captionBox .action-btns .custom-btn {
    @apply w-[110px] h-[39px];
  }

  .custom-inner-banner-s1-captionBox .text-container {
    @apply w-full max-w-[346px];
  }

  .custom-inner-banner-s1-captionBox .image-container {
    @apply w-full max-w-[548px];
  }

  .custom-inner-banner-s1-captionBox .image-container img {
    @apply w-full;
  }

  /* size2 */
  .custom-inner-banner-s1.size2 {}

  .custom-inner-banner-s1.size2 .custom-inner-banner-s1-captionBox .text-container {
    max-width: calc(100% - 318px);
  }

  .custom-inner-banner-s1.size2 .custom-inner-banner-s1-captionBox .image-container {
    max-width: 318px;
  }

  .custom-inner-banner-s1.size2 .custom-inner-banner-s1-captionBox {
    padding: 24px 32px;
  }

  /* end: custom-inner-banner-s1 */

  /* start: trending-search-sec */

  .trending-search-sec {
    @apply mt-[84px];
  }

  .trending-search-sec .container {
    @apply flex gap-x-[30px] items-start;
  }

  .trending-search-sec .left-filter {
    @apply w-full max-w-[225px] flex flex-col gap-y-[30px];
  }

  .trending-search-sec .left-filter-overlay {
    display: none;
  }

  .trending-search-sec .right-products {
    @apply w-full max-w-[calc(100%_-_225px)];
  }

  .trending-search-sec .left-filter .filter-col {
    @apply border border-solid border-[#E8E8E8];
  }

  .trending-search-sec .left-filter .filter-sub-header .filter-name-with-arow {
    @apply flex items-center justify-between gap-x-2.5 px-4 py-[18px];
  }

  .trending-search-sec .left-filter .filter-sub-header .filter-name-with-arow h3 {
    @apply text-[#333] text-[17.89px] font-normal leading-[normal] capitalize;
  }

  .trending-search-sec .left-filter .filter-sub-header .filter-name-with-arow .arow-btn {
    @apply bg-transparent flex cursor-pointer border-0;
  }

  .trending-search-sec .left-filter .filter-sub-header .filter-name-with-arow .arow-btn img {
    @apply w-3;
  }

  .trending-search-sec .left-filter .filter-sub-header .searchInput {
    @apply h-[34px] w-full text-[#A8A8A8] text-[13.563px] font-normal leading-[normal] tracking-[-0.03px] bg-[url(../../assets/images/search-icon-gray.svg)] bg-no-repeat bg-[left_16px_center] pl-[37px] pr-4 py-0 border-b-[#E8E8E8] border-b border-solid border-0;
    background: rgba(242, 242, 242, 0.45);
    outline: none;
  }

  .trending-search-sec .left-filter .filter-body-part {
    @apply p-4;
  }

  .trending-search-sec .left-filter .filter-checklists {
    @apply flex gap-y-2.5 flex-col overflow-x-hidden overflow-y-auto max-h-[471px];
  }

  .trending-search-sec .left-filter .filter-checklists .div-li {
    @apply flex items-center gap-x-2.5;
  }

  .trending-search-sec .left-filter .filter-checklists .div-li .check-col {
    @apply flex items-center;
  }

  .trending-search-sec .left-filter .filter-checklists .div-li .check-col input {
    @apply w-[16.17px] h-[16.17px];
  }

  .trending-search-sec .left-filter .filter-checklists .div-li label {
    @apply text-[#7F818D] text-sm not-italic font-normal leading-[22px] capitalize m-0;
  }

  .custom-form-control-s1 {
    @apply border w-full transition-[0.3s] text-[#7F818D] text-sm font-normal capitalize px-2.5 py-0 border-solid border-[#E8E8E8] focus:border-[color:var(--theme-primary-color)];
    outline: none;
  }

  .custom-form-control-s1.select1 {
    @apply appearance-none bg-[url(../../assets/images/select1.svg)] bg-no-repeat bg-[center_right_4px] pr-[18px];
  }

  .trending-search-sec .left-filter .range-price-left-right-info {
    @apply flex justify-between items-center;
  }

  .trending-search-sec .left-filter .range-price-left-right-info .custom-form-control-s1 {
    @apply w-[68px] h-[23px] text-xs;
  }

  .trending-search-sec .left-filter .range-price-left-right-info .center-divider {
    @apply w-[13px] h-px;
    background: #e8e8e8;
  }

  .products-header-filter {
    @apply flex items-center justify-between gap-x-4 h-[59px] px-[30px] py-0 border-b-[#DBDBDB] border-b border-solid;
    background: #f4f4f4;
    margin-bottom: 24px
  }

  .products-header-filter h3 {
    @apply text-[#333] text-[22px] font-normal capitalize;
  }

  .products-header-filter .rg-filter {
    @apply flex items-center gap-x-5;
  }

  .products-header-filter p {
    @apply text-[#333] text-base font-normal capitalize;
  }

  .products-header-filter ul {
    @apply flex items-center gap-x-4;
  }

  .products-header-filter ul li {
    @apply text-[#7F818D] text-sm not-italic font-normal leading-6;
  }

  .products-header-filter ul li .view-type-btn.active svg path {
    @apply fill-[var(--theme-primary-color)];
  }

  .products-header-filter ul li .view-type-btn {
    @apply bg-transparent flex border-0;
    outline: none;
  }

  .products-header-filter .custom-form-control-s1 {
    @apply h-[37px] w-[185px];
  }

  /* end: trending-search-sec */

  /* start: product-list-s1 */
  .product-list-s1 {
    @apply flex flex-wrap mr-[-13px] ml-[-13px] -my-5;
  }

  .product-list-s1 .product-list-s1-col {
    @apply w-full max-w-[25%] px-[13px] py-5;
  }

  .product-list-s1 .product-list-s1-box {
    @apply relative p-[8px] pt-[42px];
    @apply border border-solid border-transparent;
    transition: 0.5s;
  }

  .product-list-s1 .product-list-s1-box:hover {
    @apply border-[#DBDBDB];
  }

  .product-list-s1.outline-style .product-list-s1-box {
    @apply border pt-[42px] pb-2 px-2 border-solid border-[#DBDBDB];
  }

  .product-list-s1.outline-style .product-list-s1-box .discount {
    @apply right-2 top-2 !important;
  }

  .product-list-s1 .product-list-s1-box .multiple-action-container {
    @apply flex items-center justify-center gap-x-[3px] relative z-[1] -mb-3 -top-3;
  }

  .product-list-s1 .product-list-s1-box .multiple-action-container .circle-btn {
    @apply flex justify-center items-center w-9 h-9 bg-transparent p-0 rounded-[50%];
  }

  .product-list-s1 .product-list-s1-box .multiple-action-container .circle-btn img {
    @apply w-4 h-4;
  }

  .product-list-s1 .product-list-s1-box .image-container {
    @apply h-[155px] w-full;
  }

  .product-list-s1 .product-list-s1-box .image-container img {
    @apply w-full h-full object-scale-down;
  }

  .product-list-s1 .product-list-s1-box .image-container .discount {
    @apply w-[62px] h-[31px] text-white bg-[color:var(--theme-primary-color)] text-lg font-medium leading-[normal] capitalize absolute flex justify-center items-center rounded z-[1] right-[8px] top-[8px];
  }

  .product-list-s1 .product-list-s1-box .text-container {
    @apply pt-4;
  }

  .product-list-s1 .product-list-s1-box .text-container h4 {
    @apply text-[#333] text-xs font-normal leading-[normal] uppercase mb-2 pb-2 border-b-[#EBEBEB] border-b border-solid;
  }

  .product-list-s1 .product-list-s1-box .text-container p {
    @apply text-[#1D77D1] text-[15px] font-normal leading-[19px] capitalize overflow-hidden text-ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .product-list-s1 .product-list-s1-box .text-container .rating_stars {
    @apply flex gap-x-2 items-center mt-2;
  }

  .product-list-s1 .product-list-s1-box .text-container .rating_stars img {
    @apply flex-[0_0_auto];
  }

  .product-list-s1 .product-list-s1-box .text-container .rating_stars span {
    @apply text-[#8A8A8A] text-[15px] font-medium leading-[normal] uppercase;
  }

  .product-list-s1 .product-list-s1-box .text-container h5 {
    @apply text-[#8A8A8A] text-base font-medium leading-[normal] uppercase mt-4;
  }

  /* end: product-list-s1 */

  /* start: product-view-s1-left-right */
  .product-view-s1-left-right .container {
    @apply flex justify-between gap-x-8;
  }

  .product-view-s1-left-right .product-view-s1-left {
    @apply w-full max-w-[592px];
  }

  .product-view-s1 {
    @apply flex flex-col gap-y-7;
  }

  .product-view-s1 .product-view-s1-big-image {
    @apply flex justify-center items-center bg-[#F6F6F6] h-[470px] cursor-zoom-in p-1.5;
  }

  .product-view-s1 .product-view-s1-big-image img {
    @apply w-full h-full object-scale-down;
  }

  .product-view-s1 .product-view-s1-thumb-lists {
    @apply flex overflow-x-auto overflow-y-hidden -m-3.5;
  }

  .product-view-s1 .product-view-s1-thumb-lists .thumb-item {
    @apply w-3/12 flex-[0_0_auto] cursor-pointer p-3.5;
  }

  .product-view-s1 .product-view-s1-thumb-lists .thumb-item .image-container {
    @apply flex justify-center items-center bg-[#F6F6F6] h-[125px] p-1.5;
  }

  .product-view-s1 .product-view-s1-thumb-lists .thumb-item.active .image-container {
    @apply border-[color:var(--theme-primary-color)] border-[1.372px] border-solid;
    background: #fff;
  }

  .product-view-s1 .product-view-s1-thumb-lists .thumb-item .image-container img {
    @apply w-full h-full object-scale-down;
  }

  .product-view-s1-left-right .product-view-s1-right {
    @apply w-full max-w-[517px] border flex flex-col border-solid border-[#DBDBDB];
  }

  .product-view-s1-left-right .product-view-s1-right .info-col {
    @apply pt-3.5 pb-[18px] px-6 border-b-[#DBDBDB] border-b border-solid last:border-b-0;
  }

  .product-view-s1-left-right .product-view-s1-right .info-col h2 {
    @apply text-[#333] text-[32px] font-semibold leading-[normal] capitalize;
  }

  .product-view-s1-left-right .product-view-s1-right .info-col h3 {
    @apply text-[#679A03] text-3xl font-medium leading-[normal] capitalize;
  }

  .product-view-s1-left-right .product-view-s1-right .info-col h3 span {
    @apply text-[#767676] text-lg font-normal leading-[normal] line-through uppercase inline-block pl-0.5;
  }

  .time-left-lists-s1 {
    @apply flex gap-x-10;
  }

  .product-view-s1-left-right .product-view-s1-right .info-col .form-group {
    @apply mb-4;
  }

  .product-view-s1-left-right .product-view-s1-right .info-col .form-group label {
    @apply text-[#333] text-xs font-normal leading-[normal] uppercase inline-block mb-3;
  }

  .product-view-s1-left-right .product-view-s1-right .info-col p {
    @apply text-[#7F818D] text-[15px] font-normal leading-[30px] capitalize;
  }

  .product-view-s1-left-right .product-view-s1-right .info-col .ul-lists-style-s1 li {
    @apply text-[#7F818D] text-[15px] font-normal leading-[30px] capitalize;
  }

  .product-view-s1-left-right .product-view-s1-right .info-col p .color-text {
    @apply text-[color:var(--theme-primary-color)];
  }

  .product-view-s1-left-right .product-view-s1-right .info-col .slider-btm-range-value {
    @apply flex justify-between items-center gap-x-2.5 mt-2.5;
  }

  .mb-0 {
    @apply mb-[0] !important;
  }

  .pb-0 {
    @apply pb-[0] !important;
  }

  .product-view-s1-left-right .product-view-s1-right .info-col .slider-btm-range-value .value_text {
    @apply text-[#7F818D] text-sm not-italic font-normal leading-6;
  }

  .ul-lists-style-s1 {
    @apply list-inside;
    list-style: disc;
  }

  .time-left-lists-s1 .time-left-list-col {
    @apply flex flex-col justify-center items-center text-center w-16 h-16 pt-2 rounded-[7.332px] border-[1.047px] border-solid border-[#DBDBDB];
    background: #fafafa;
  }

  .time-left-lists-s1 .time-left-list-col .dayDigit {
    @apply text-[#7F818D] text-[26.185px] not-italic font-normal leading-[25.138px];
  }

  .time-left-lists-s1 .time-left-list-col .dayText {
    @apply text-[#7F818D] text-[12.569px] font-normal leading-[26px] capitalize;
  }

  .quantity_select_with_full_size_btn {
    @apply flex justify-between h-[42px];
  }

  .quantity_select_with_full_size_btn .quantity_selector {
    @apply w-[115px] h-full;
  }

  .quantity_select_with_full_size_btn .quantity_selector .theme-form-control-s1 {
    @apply h-full;
  }

  .quantity_select_with_full_size_btn .selector_submit_btn {
    @apply flex w-[calc(100%_-_130px)];
  }

  .quantity_select_with_full_size_btn .selector_submit_btn button {
    @apply h-full w-full;
  }

  .quantity_selector {
    @apply flex items-center relative;
  }

  .quantity_selector span {
    @apply flex items-center justify-center absolute z-[1] -translate-y-2/4 cursor-pointer h-full w-[30px] left-0 top-2/4;
  }

  .quantity_selector span.plus {
    @apply left-[unset] right-0;
  }

  .quantity_selector .theme-form-control-s1 {
    @apply px-[34px];
  }

  /* end: product-view-s1-left-right */
  /* start: product-view-s1-left-details-with-right-suggestion */
  .product-view-s1-left-details-with-right-suggestion {
    @apply mt-[75px];
  }

  .product-view-s1-left-details-with-right-suggestion .container {
    @apply flex justify-between gap-x-10 items-start;
  }

  .product-view-s1-left-details {
    @apply w-full max-w-[calc(100%_-_270px)];
  }

  .product-view-s1-details-right-suggestion {
    @apply w-full max-w-[270px];
  }

  .suggestion-lists-s1 {
    @apply flex flex-col gap-y-[26px];
  }

  .suggestion-lists-s1 .suggestion-banner img {
    @apply w-full;
  }

  .suggestion-same-branch-lists-s1 {
    @apply border border-solid border-[#DBDBDB];
  }

  .suggestion-same-branch-lists-s1 .title-headerpart {
    @apply bg-[#F8F8F8] px-3.5 py-5 border-b-[#DBDBDB] border-b border-solid;
  }

  .suggestion-same-branch-lists-s1 .title-headerpart h3 {
    @apply text-[#333] text-base font-semibold leading-[normal] capitalize;
  }

  .suggestion-same-branch-lists-s1 .contnet-bodypart {
    @apply p-6;
  }

  .suggestion-same-branch-lists-s1 .contnet-bodypart .product-list-s1 {
    @apply -m-2;
  }

  .suggestion-same-branch-lists-s1 .contnet-bodypart .product-list-s1 .product-list-s1-col {
    @apply max-w-[unset] p-2;
  }

  .theme-tab-s1 {
    @apply bg-[#F8F8F8];
  }

  .theme-tab-s1 ul {
    @apply flex;
  }

  .theme-tab-s1 ul li a {
    @apply text-[#333] text-base font-normal leading-[normal] capitalize relative flex p-[18px] after:content-[''] after:clear-both after:absolute after:w-full after:h-0.5 after:opacity-0 after:invisible after:left-0 after:bottom-0;
  }

  .theme-tab-s1 ul li a::after {
    background: var(--theme-primary-color);
  }

  .theme-tab-s1 ul li a.active {
    @apply font-semibold text-[color:var(--theme-primary-color)] after:visible after:opacity-100;
  }

  .product-view-s1-left-details .details-lists {
    @apply flex flex-col gap-y-9 mt-10;
  }

  .product-view-s1-left-details .details-lists .details-col .custom-inner-banner-s1 {
    @apply mt-8;
  }

  .product-view-s1-left-details .details-lists .details-col h3 {
    @apply text-[#333] text-[22px] font-normal leading-[normal] capitalize;
  }

  .product-view-s1-left-details .details-lists .details-col p {
    @apply text-[#7F818D] text-[15px] font-normal leading-6 capitalize mt-5;
  }

  /* end: product-view-s1-left-details-with-right-suggestion */
  /* start: auth-page-main */
  .auth-page-main {}

  .react-tel-input .country-list .search {
    @apply px-2 py-[5px] !important;
  }

  .react-tel-input .country-list .search-box {
    @apply w-full h-8 font-light bg-[url(../../assets/images/search-icon-gray.svg)] bg-no-repeat bg-[left_8px_center] m-0 pl-8 !important;
  }

  .react-tel-input .country-list .country {
    @apply pl-10 pr-2 py-[5px] !important;
  }

  .react-tel-input .country-list .country .flag {
    @apply mt-0 left-2 top-[3px] !important;
  }

  .auth-page-main .agreeText button {
    @apply h-[unset] !important;
  }

  /* end: auth-page-main */

  /* start: shadcn-toast-custom */
  .shadcn-toast-custom {
    @apply border-l-4 border-solid !important;
  }

  .shadcn-toast-custom.success {
    @apply text-[#27c927] bg-[#f4fff4] border-[#27c927] !important;
  }

  .shadcn-toast-custom.error {
    @apply text-[#f44336] bg-[#fff2f1] border-[#F44336] !important;
  }

  /* end: shadcn-toast-custom */

  /* start: upload-identity-proof-both-side */
  .upload-identity-proof-both-side {
    display: flex;
    margin: -8px;
  }

  .upload-identity-proof-both-side .upload-identity-proof-both-side-col {
    padding: 8px;
    width: 100%;
    max-width: 50%;
  }

  .common-close-btn-uploader-s1 {
    position: absolute;
    z-index: 2;
    border: 1px solid var(--theme-primary-color);
    border-radius: 50%;
    width: 22px;
    height: 22px;
    top: 3px;
    right: 3px;
    background-color: var(--theme-primary-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .common-close-btn-uploader-s1 img {
    width: 10px;
  }

  .upload-identity-proof-both-side .upload-identity-proof-both-side-col label {
    margin-bottom: 8px;
  }

  .upload-identity-proof-both-side .upload-identity-proof-box {
    height: 165px;
  }

  /* end: upload-identity-proof-both-side */

  /* start: cart-page */
  .cart-page {
    padding: 24px 0 32px;
  }

  .cart-page-wrapper {
    display: flex;
    align-items: flex-start;
    column-gap: 20px;
  }

  .cart-page-left {
    width: 100%;
    max-width: calc(100% -419px);
  }

  .cart-page-right {
    width: 100%;
    max-width: 419px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  .cart-page .order-action-btn {
    display: flex;
    justify-content: center;
  }

  .cart-page .order-action-btn .order-btn {
    width: 100%;
    height: 56px;
  }

  .cart-page .headerPart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 16px;
  }

  .cart-page .headerPart .lediv {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  .cart-page .headerPart h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
  }

  .cart-page-left .bodyPart {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  .cart-page .card-item {
    border: 1px solid #E4E3E3;
    box-shadow: 0px 12px 40px 0px #FF452312;
    background-color: var(--white-color);
    border-radius: 10px;
  }

  .cart-page .card-item .selectTag-lists {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 8px;
  }

  .cart-page .card-item .selectTag {
    height: 34px;
    padding: 0 16px;
    border-radius: 6px;
    opacity: 0.12px;
    background: #E9FAF2;
    color: #4FD992;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .cart-page .card-item.selected-address .left-address-with-right-btn {
    display: flex;
    justify-content: space-between;
    column-gap: 16px;
  }
  .cart-page .card-item .card-inner-headerPart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;
    padding: 16px 24px;
    background-color: var(--theme-secondary-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .cart-page .card-item .card-inner-headerPart h3{
    color: var(--white-color);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
  }
  .cart-page .card-item .card-inner-headerPart .rgdiv{
    margin-left: auto;
  }
  .cart-page .card-item .card-inner-headerPart .rgdiv .textwithcheckbox{
    display: flex;
    align-items: center;
    column-gap: 8px;
  }
  .cart-page .card-item .card-inner-headerPart .rgdiv .textwithcheckbox label{
    margin: 0 !important;
    font-size: 14px;
    font-weight: 400;
    color: var(--white-color);
  }
  .card-item.selected-address .left-address-with-right-btn h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 21.11px;
    margin-top: 10px;
  }

  .card-item.selected-address .left-address-with-right-btn ul {
    display: flex;
    margin: 10px 0 0;
    padding: 0;
    flex-direction: column;
    row-gap: 10px;
  }

  .card-item.selected-address .left-address-with-right-btn ul li a,
  .card-item.selected-address .left-address-with-right-btn ul li p {
    display: flex;
    align-items: flex-start;
    column-gap: 8px;
  }

  .card-item.selected-address .left-address-with-right-btn ul li a .icon-container,
  .card-item.selected-address .left-address-with-right-btn ul li p .icon-container {
    display: flex;
    align-items: center;
    width: 15px;
    margin: 2.5px 0 0;
    flex: 0 0 auto;
  }

  .card-item.selected-address .left-address-with-right-btn .right-action {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .card-item.selected-address .left-address-with-right-btn .right-action .changebtn {
    background-color: #FF9F00;
    color: var(--white-color);
    width: 131px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.73px;
    border-radius: 5px;
    transition: .3s;
  }

  .card-item.selected-address .left-address-with-right-btn .right-action .changebtn:hover {
    box-shadow: 1px 1px 10px gray;
  }

  .card-item.cart-items .top-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 32px;
    border-bottom: 1px solid #EDEDED;
  }

  .card-item.priceDetails .top-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 24px;
    border-bottom: 1px solid #EDEDED;
  }

  .card-item.cart-items .top-heading h4,
  .card-item.priceDetails .top-heading h4 {
    font-size: 18px;
    font-weight: 500;
    text-transform:capitalize;
    line-height: 21.11px;
  }

  .card-item.cart-items .cart-item-lists {
    display: flex;
    flex-direction: column;
  }

  .card-item.cart-items.for-add .top-heading {
    border: 0 !important;
  }

  .card-item.cart-items.for-add .top-heading .add-new-address-btn {
    display: flex;
    align-items: center;
    column-gap: 8px;
    color: var(--theme-primary-color);
    font-size: 13.69px;
    font-weight: 600;
    line-height: 23.47px;
    text-transform: capitalize;
    background-color: transparent !important;
  }

  .card-item.cart-items .cart-item-lists .cart-item-list-col {
    border-bottom: 1px solid #EDEDED;
    padding: 20px 32px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 16px;
  }

  .card-item.cart-items .cart-item-lists .cart-item-list-col:last-child {
    border-bottom: 0;
  }

  .card-item.cart-items .cart-item-lists .cart-item-list-col figure {
    display: flex;
    column-gap: 24px;
  }

  .card-item.cart-items .cart-item-lists .cart-item-list-col figure .image-container {
    width: 110.06px;
    height: 109.32px;
    border: 0.64px solid #DBDBDB;
    border-radius: 8.93px;
    flex: 0 0 auto;
  }

  .card-item.cart-items .cart-item-lists .cart-item-list-col figure .image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .card-item.cart-items .cart-item-lists .cart-item-list-col figure figcaption {}

  .card-item.cart-items .cart-item-lists .cart-item-list-col figure figcaption h4 {
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    color: #1D77D1;
  }

  .card-item.cart-items .cart-item-lists .cart-item-list-col figure figcaption h4 a {
    color: #1D77D1;
    font-family: inherit;
  }

  .card-item.cart-items .cart-item-lists .cart-item-list-col .right-info {
    margin-left: auto;
  }

  .card-item.cart-items .cart-item-lists .cart-item-list-col .right-info h6 {
    font-size: 11.73px;
    font-weight: 400;
    line-height: 13.76px;
  }

  .card-item.cart-items .cart-item-lists .cart-item-list-col .right-info h5 {
    font-size: 16px;
    font-weight: 500;
    line-height: 18.77px;
    margin-top: 8px;
  }

  .card-item.cart-items .cart-item-lists .cart-item-list-col .custom-form-group {}

  .card-item.cart-items .cart-item-lists .cart-item-list-col .custom-form-group label {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 10px;
    display: inline-block;
  }

  .qty-up-down-s1 {
    position: relative;
    width: 113px;
  }

  .qty-up-down-s1 .upDownBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: 0;
    height: 100%;
    width: 30px;
    display: flex;
    align-items: center;
  }

  .qty-up-down-s1 .custom-form-control-s1 {
    height: 41.06px;
    padding: 0 32px !important;
    text-align: center;
  }

  .qty-up-down-s1 .upDownBtn.minus {
    left: 0;
    padding-left: 10px;
  }

  .qty-up-down-s1 .upDownBtn.plus {
    right: 0;
    padding-right: 10px;
    justify-content: flex-end;
  }

  .qty-up-down-s1-with-rgMenuAction {
    display: flex;
    column-gap: 32px;
    align-items: center;
  }

  .qty-up-down-s1-with-rgMenuAction .rgMenuAction-lists {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
  }

  .qty-up-down-s1-with-rgMenuAction .rgMenuAction-lists li {
    position: relative;
  }

  .qty-up-down-s1-with-rgMenuAction .rgMenuAction-lists li::after {
    content: '';
    clear: both;
    height: 16px;
    position: absolute;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    background-color: #464151;
  }

  .qty-up-down-s1-with-rgMenuAction .rgMenuAction-lists li:last-child::after {
    display: none;
  }

  .qty-up-down-s1-with-rgMenuAction .rgMenuAction-lists li a {
    font-size: 12px;
    font-weight: 400;
    line-height: 16.48px;
    text-decoration: underline;
    color: #464151;
  }

  .card-item.priceDetails .priceDetails-body {
    padding: 32px 24px;
  }

  .card-item.priceDetails .priceDetails-body ul {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  .card-item.priceDetails .priceDetails-body ul li {
    display: flex;
    align-items: center;
    column-gap: 10px;
    justify-content: space-between;
    column-gap: 10px;
  }

  .card-item.priceDetails .priceDetails-body ul li p {
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    color: #8A8A8A;
  }

  .card-item.priceDetails .priceDetails-body ul li h5 {
    margin-left: auto;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.77px;
  }

  .card-item.priceDetails .priceDetails-body ul li .apply-code-btn {
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    color: #4FD992;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
    column-gap: 8px
  }

  .card-item.priceDetails .priceDetails-footer {
    padding: 24px 24px;
    border-top: 1px solid #EDEDED;
    display: flex;
    justify-content: space-between;
    align-content: center;
    column-gap: 10px;
  }

  .card-item.priceDetails .priceDetails-footer h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 21.11px;
  }

  .card-item.priceDetails .priceDetails-footer h4.amount-value {
    margin-left: auto;
  }

  .selected-address-lists {
    display: flex;
    flex-direction: column;
  }

  .selected-address-lists .selected-address-item {
    border-bottom: 1px solid #EDEDED;
    padding: 20px 32px;
  }

  .selected-address-lists .selected-address-item .check-with-infocardbox {
    display: flex;
    column-gap: 16px;
    align-items: flex-start;
  }

  .selected-address-lists .selected-address-item .check-with-infocardbox .check-col {
    display: flex;
    flex: 0 0 auto;
  }

  .selected-address-lists .selected-address-item .check-with-infocardbox .infocardbox {
    flex: 1 1 auto;
  }

  .selected-address-lists .selected-address-item:last-child {
    border-bottom: 0;
  }

  .custom-hover-dropdown {
    position: relative;
  }

  .custom-hover-dropdown .btn {
    background-color: transparent;
    border: 0;
    display: flex;
    align-items: center;
  }

  .custom-hover-dropdown .custom-hover-dropdown-menu {
    position: absolute;
    background: #FFFFFF;
    top: calc(50% + 2px);
    right: 0;
    box-shadow: 0px 5px 31px 0px #0000001F;
    min-width: 92px;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
  }

  .custom-hover-dropdown:hover .custom-hover-dropdown-menu {
    opacity: 1;
    visibility: visible;
  }

  .custom-hover-dropdown .custom-hover-dropdown-menu .custom-hover-dropdown-item {
    display: flex;
    align-items: center;
    column-gap: 6px;
    padding: 8px 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #7F818D;
    border-bottom: 1px solid #7F818D1A;
    transition: .5s;
  }

  .custom-hover-dropdown .custom-hover-dropdown-menu .custom-hover-dropdown-item:hover {
    background-color: var(--theme-primary-color);
    color: var(--white-color);
  }

  .custom-hover-dropdown .custom-hover-dropdown-menu .custom-hover-dropdown-item:hover img {
    filter: brightness(0) invert(1);
  }

  .custom-hover-dropdown .custom-hover-dropdown-menu .custom-hover-dropdown-item:last-child {
    border-bottom: 0;
  }

  .custom-hover-dropdown .custom-hover-dropdown-menu .custom-hover-dropdown-item img {
    flex: 0 0 auto;
    width: 16px;
  }

  /* end: cart-page */
  .add-new-address-modal{

  }
  .add-new-address-modal .modal-header{
    display: flex;
    justify-content: flex-start;
    padding: 16px 24px;
    border-bottom: 1px solid #eee;
  }
  .add-new-address-modal .order-action-btn {
    display: flex;
    justify-content: center;
    padding-top: 8px;
  }

  .add-new-address-modal .order-action-btn .order-btn {
    width: 100%;
    height: 56px;
  }
  /* start: responsive */
  @media (max-width: 1199.98px) {
    .product-list-s1 .product-list-s1-col {
      @apply max-w-[33.33%];
    }

    .products-header-filter {
      @apply px-4;
    }

    .products-header-filter h3 {
      @apply text-base;
    }

    .products-header-filter ul {
      @apply gap-x-2.5;
    }

    .products-header-filter .rg-filter {
      @apply gap-x-2.5;
    }

    .products-header-filter p {
      @apply text-sm;
    }
  }

  @media (max-width: 1024.98px) {
    .product-list-s1 .product-list-s1-col {
      @apply max-w-[50%];
    }

    .products-header-filter p {
      @apply text-sm;
    }

    .products-header-filter h3 {
      @apply text-base;
    }

    .products-header-filter {
      @apply px-4;
    }

    .products-header-filter .custom-form-control-s1 {
      @apply w-[150px];
    }

    .products-header-filter .rg-filter {
      @apply gap-x-2.5;
    }

    .products-header-filter ul {
      @apply gap-x-2.5;
    }

    .trending-search-sec .right-products {
      @apply max-w-[unset];
    }

    .trending-search-sec .left-filter {
      @apply fixed bg-white z-[999] h-full -translate-x-full transition-[0.5s] left-0 top-0;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
    }

    .trending-search-sec .left-filter.show {
      transform: translate(0);
    }

    .trending-search-sec .left-filter.show~.left-filter-overlay {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 998;
    }

    .custom-inner-banner-s1-captionBox {
      padding: 24px 24px;
    }

    .custom-inner-banner-s1-captionBox h2 {
      font-size: 30px;
    }

    .custom-inner-banner-s1-captionBox h5 {
      margin-top: 12px;
    }

    .custom-inner-banner-s1-captionBox h4 {
      font-size: 16px;
    }

    .custom-inner-banner-s1-captionBox .action-btns {
      margin-top: 16px;
    }

    .trending-search-sec {
      margin-top: 52px;
    }
  }

  @media (max-width: 991.98px) {
    .theme-table-s1 table {
      @apply block;
    }

    .theme-table-s1 table thead {
      @apply hidden;
    }

    .theme-table-s1 table tbody {
      @apply flex flex-col gap-y-2.5;
    }

    .theme-table-s1 table tbody tr {
      @apply block px-0 py-1 rounded-[10px];
      @apply border border-slate-200 border-solid !important;
    }

    .theme-table-s1 table tbody tr td {
      @apply flex gap-x-2 items-center text-[13px] font-normal px-4 py-1 border-0 before:content-[attr(th-name)':'] before:clear-both before:inline-block before:text-black before:w-[110px];
    }

    .theme-pagination-s1 {
      @apply pt-8 pb-8;
    }

    .theme-table-s1 .product-image-with-text figcaption {
      @apply text-[13px];
    }

    .theme-table-s1 .product-image-with-text {
      @apply gap-x-3;
    }

    .body-content-s1 .main-content-card.border .table-responsive {
      @apply p-2.5 pb-0 !important;
    }
  }

  @media (max-width: 767.98px) {
    .upload-identity-proof-both-side {
      flex-wrap: wrap;
    }

    .upload-identity-proof-both-side .upload-identity-proof-both-side-col {
      max-width: unset;
    }

    .upload-identity-proof-both-side .upload-identity-proof-box {
      height: 40vw;
    }

    /*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
    .products-header-filter {
      @apply flex-col gap-y-1 h-[unset] p-2.5;
    }

    .products-header-filter .rg-filter {
      @apply flex-wrap w-full justify-center gap-y-2;
    }

    .product-list-s1 {
      @apply mt-[-5px] mr-[-5px] mb-[-5px] ml-[-5px];
    }

    .product-list-s1 .product-list-s1-col {
      @apply p-[5px];
    }

    .product-list-s1 .product-list-s1-box .image-container .discount {
      @apply text-[13px] h-7 w-14;
    }

    .product-list-s1 .product-list-s1-box .text-container p {
      @apply text-sm;
    }

    .product-list-s1 .product-list-s1-box .text-container h5 {
      @apply text-sm;
    }

    .product-list-s1 .product-list-s1-box .image-container {
      @apply h-[120px];
    }

    .custom-inner-banner-s1-captionBox .image-container {
      @apply max-w-[224px];
    }

    .custom-inner-banner-s1-captionBox .text-container {
      @apply max-w-[calc(100%_-_224px)];
    }

    .custom-inner-banner-s1-captionBox h2 {
      @apply text-2xl mt-2.5;
    }

    .custom-inner-banner-s1-captionBox h5 {
      @apply text-sm mt-2;
    }

    .custom-inner-banner-s1-captionBox h4 {
      @apply text-sm;
    }

    .theme-primary-btn {
      @apply text-sm !important;
    }

    .trending-search-sec {
      @apply mt-8;
    }

    .auth-page-main .auth-page-box {
      padding: 24px 16px;
    }

    .auth-page-main .auth-page-box h2 {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 8px;
    }

    .auth-page-main .agreeText,
    .auth-page-main .agreeText button {
      font-size: 13px;
    }
  }

  @media (max-width: 575px) {
    .custom-inner-banner-s1-captionBox {
      @apply flex-col p-4;
    }

    .text-base {
      @apply text-sm leading-[22px];
    }


    .custom-inner-banner-s1-captionBox .text-container {
      @apply max-w-[unset];
    }

    .custom-inner-banner-s1-captionBox h2 {
      @apply text-xl mt-2;
    }

    .page-indicator li {
      @apply text-[13px] gap-x-1.5;
    }

    .body-content-s1 {
      @apply py-6;
    }
  }

  /* end: responsive */
}

.react-time-picker__wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 12px;
  justify-content: space-between;
}


/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--theme-primary-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--theme-primary-color);
}

/* browser password toggle visibility */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.horizontal-slider {
  width: 100%;
  max-width: 500px;
  height: 60px;
  margin: auto;
}

.example-thumb {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  background: #ffffff;
  border: 10px solid #3774ff;
  border-radius: 100%;
  display: block;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
}

.example-thumb.active {
  background-color: grey;
}

.example-track {
  position: relative;
  background: #ddd;
}

.example-track.example-track-1 {
  background: #83a9ff;
}

.horizontal-slider .example-track {
  top: 20px;
  height: 4px;
}

.horizontal-slider .example-thumb {
  top: 12px;
  width: 10px;
  outline: none;
  height: 10px;
  line-height: 38px;
}

/* editor */
.ql-editor{
  min-height:160px;
}

.quill > .ql-container > .ql-editor.ql-blank::before{
  font-size: 1rem;
  color: #7f818d;
  font-style: normal;
  font-family: 'Inter';
}