@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
    /* theme colors */
    --theme-primary-color: #DB2302;
    --theme-secondary-color: #022335;
    --theme-gray-light: #F3F3F3;
    --theme-gray-dark: #E8E8E8;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {

  /* start: common */
  .table-responsive {
    @apply w-[100%] overflow-x-auto;
  }

  /* start: theme-primary-btn */
  @-webkit-keyframes criss-cross-right {
    0% {
      right: -20px;
    }

    50% {
      right: 50%;
      width: 20px;
      height: 20px;
    }

    100% {
      right: 50%;
      width: 875px;
      height: 875px;
    }
  }

  @keyframes criss-cross-right {
    0% {
      right: -20px;
    }

    50% {
      right: 50%;
      width: 20px;
      height: 20px;
    }

    100% {
      right: 50%;
      width: 875px;
      height: 875px;
    }
  }

  @-webkit-keyframes criss-cross-left {
    0% {
      left: -20px;
    }

    50% {
      left: 50%;
      width: 20px;
      height: 20px;
    }

    100% {
      left: 50%;
      width: 875px;
      height: 875px;
    }
  }

  @keyframes criss-cross-left {
    0% {
      left: -20px;
    }

    50% {
      left: 50%;
      width: 20px;
      height: 20px;
    }

    100% {
      left: 50%;
      width: 375px;
      height: 375px;
    }
  }

  .theme-primary-btn {
    @apply bg-[var(--theme-primary-color)] text-[16px] text-white !important;
    @apply relative z-[1] overflow-hidden flex items-center justify-center text-center cursor-pointer capitalize font-medium !important;
    transition: all 0.5s !important;
  }

  .theme-primary-btn::before,
  .theme-primary-btn::after {
    transition: all 0.5s !important;
    @apply z-[-1];
  }

  .theme-primary-btn:hover {
    @apply text-[color:var(--white-color)] shadow-[1px_3px_12px_#afafaf];
  }

  .theme-primary-btn:before,
  .theme-primary-btn:after {
    @apply absolute content-[''] w-5 h-5 rounded-[50%] top-2/4 bg-[var(--theme-secondary-color)];
  }

  .theme-primary-btn:before {
    @apply -translate-x-2/4 -translate-y-2/4 -left-5;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .theme-primary-btn:after {
    @apply translate-x-2/4 -translate-y-2/4 -right-5;
    -webkit-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
  }

  .theme-primary-btn:hover:before {
    -webkit-animation: criss-cross-left 0.8s both;
    animation: criss-cross-left 0.8s both;
  }

  .theme-primary-btn:hover:after {
    -webkit-animation: criss-cross-right 0.8s both;
    animation: criss-cross-right 0.8s both;
  }

  /* end: theme-primary-btn */
  /* start: normal buttons */
  .theme-white-outline-btn {
    @apply font-medium text-white !important;
    @apply border border-[--white-color] flex items-center justify-center text-center cursor-pointer capitalize text-[16px] !important;
    border-radius: 3px;
    transition: all 0.5s !important;
  }

  .theme-white-outline-btn:hover {
    box-shadow: 1px 1px 11px #333;
  }

  /* end: normal buttons */
  .theme-form-control-s1 {
    @apply !h-12 w-full rounded border !border-gray-300 px-3 text-sm;
  }

  .theme-form-control-s1:focus {
    box-shadow: none !important;
    outline: none !important;
    @apply border-[var(--theme-primary-color)] !important;
  }

  /* start: phone-no-with-country-select-s1 */
  .phone-no-with-country-select-s1 {
    @apply relative;
  }

  .phone-no-with-country-select-s1 .country-select {
    @apply absolute z-[2] w-20 h-full left-0 top-0;
  }

  .phone-no-with-country-select-s1 .country-select select {
    @apply bg-transparent rounded-none border-l-0 border-y-0;
    @apply h-full !important;
  }

  .phone-no-with-country-select-s1 .phone-no .theme-form-control-s1 {
    @apply pl-[90px] !important;
  }

  /* end: phone-no-with-country-select-s1 */
  /* end: common */
  /* start: theme-table-s1 */
  .theme-table-s1 table {
    @apply w-full border-[0] border-separate border-spacing-0;
  }

  .theme-table-s1 table thead tr th {
    @apply bg-[var(--theme-gray-light)] border-y-[1px] border-[var(--theme-gray-dark)];
    @apply text-[#333] text-[14px] font-[500] leading-[normal] capitalize;
    @apply py-[16px] px-[24px];
  }

  .theme-table-s1 table thead tr th:first-child {
    @apply border-l-[1px] border-[var(--theme-gray-dark)] rounded-tl-[5px] rounded-bl-[5px];
  }

  .theme-table-s1 table thead tr th:last-child {
    @apply border-l-[1px] border-[var(--theme-gray-dark)] rounded-tr-[5px] rounded-br-[5px];
  }

  .theme-table-s1 table tbody tr {
    @apply bg-transparent !important;
  }

  .theme-table-s1 table tbody tr td {
    @apply text-[#7F818D] text-[15px] font-[500] leading-[24px] capitalize;
    @apply py-[24px] px-[24px];
    @apply border-b-[1px] border-[var(--theme-gray-dark)];
  }

  .theme-table-s1 .product-image-with-text {
    @apply flex gap-x-[20px] items-center;
  }

  .theme-table-s1 .product-image-with-text .image-container {
    @apply w-[82px] h-[82px] border-[1px] border-[var(--theme-gray-dark)] bg-white;
  }

  .theme-table-s1 .product-image-with-text .image-container img {
    @apply w-full h-full object-scale-down rounded-[inherit];
  }

  .theme-table-s1 .product-image-with-text figcaption {
    @apply text-[#7F818D] text-[15px] not-italic font-medium leading-6 capitalize;
  }

  .theme-table-s1 .td-action-btns {
    @apply flex items-center gap-x-4;
  }

  .theme-table-s1 .td-action-btns .td-circle-btn {
    @apply w-[35px] h-[35px] flex items-center justify-center shadow-none transition ease-in-out p-0 rounded-[50%] hover:shadow-[0px_1px_9px_0px_#ababab];
  }

  .theme-table-s1 .td-action-btns .td-circle-btn img {
    @apply w-[18px];
  }

  .theme-table-s1 .td-action-btns .td-circle-btn.edit {
    @apply bg-[#F2F4F5];
  }

  .theme-table-s1 .td-action-btns .td-circle-btn.trash {
    @apply bg-[#FEF8F7];
  }

  .theme-pagination-s1 {
    @apply flex flex-wrap justify-center w-full gap-x-1.5 pt-12 pb-8 px-0;
  }

  .theme-pagination-s1 button:not(.theme-primary-btn) {
    @apply w-[30px] h-[30px] border bg-white text-black text-[13px] not-italic font-medium leading-[13px] p-0 rounded-none border-solid border-[#E0E0E0];
  }

  .theme-pagination-s1 button.theme-primary-btn {
    @apply h-[30px] w-[71px] gap-x-1.5 p-0 rounded-[1.96px];
  }

  .theme-pagination-s1 button.theme-primary-btn.frist {
    @apply mr-2.5;
  }

  .theme-pagination-s1 button.theme-primary-btn.last {
    @apply ml-2.5;
  }

  .theme-pagination-s1 button.current {
    @apply bg-[var(--theme-primary-color)] text-[#fff] border-[var(--theme-primary-color)] !important;
  }

  /* end: theme-table-s1 */
  /* start: body-content-s1 */
  .body-content-s1 {
    @apply py-[52px];
  }

  .custom-container-s1 {
    @apply max-w-[1440px] w-full mx-auto;
  }

  .body-content-s1-card {
    @apply px-[26px] py-[26px] !important;
  }

  .body-content-s1-search {
    @apply px-[0] pt-[0] pb-[26px] !important;
  }

  .body-content-s1-search .search-box {
    @apply bg-[url(../../assets/images/search-icon-gray.svg)] bg-no-repeat h-10 bg-[left_26px_center] bg-[#F8F5F5] border shadow-none text-[#A8A8A8] text-[13.261px] font-normal leading-[normal] tracking-[-0.029px] pl-12 pr-2.5 py-0 rounded-none border-solid border-[#F8F5F5];
    outline: none !important;
    @apply transition ease-in-out;
  }

  .body-content-s1-search .search-box::placeholder {
    opacity: 0.7;
  }

  input:focus {
    box-shadow: none !important;
    @apply border-[var(--theme-primary-color)] !important;
  }

  .body-content-s1 .main-content {
    @apply px-[0] py-[0] !important;
  }

  .body-content-s1 .main-content-card {
    padding: 16px 16px;
  }

  /* end: body-content-s1 */
  /* start: theme-inside-auth-sec */
  /* .theme-inside-auth-sec {
    padding: 32px 0;
  }

  .theme-inside-auth-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-height: 480px;
    display: flex;
    overflow: hidden;
  }

  .theme-inside-auth-container.mx-w-800px {
    max-width: 800px;
  }

  .theme-inside-auth-container .left-div {
    width: 100%;
    max-width: 53%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 42px 42px;
  }

  .theme-inside-auth-container .right-div {
    width: 100%;
    max-width: 47%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 42px 42px;
    background-image: linear-gradient(to bottom, #022335, #242f62, #742472, #bc0054, #db2302);
  }

  .theme-inside-auth-container .social-icon-lists {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
    width: 100%;
  }

  .theme-inside-auth-container .social-icon-lists .icon-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--theme-gray-dark);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .theme-inside-auth-container .social-icon-lists .icon-btn svg {
    height: 20px;
    width: 20px;
  }

  .theme-inside-auth-container .left-div h2 {
    line-height: 32px;
    font-size: 32px;
    color: #022335;
    font-weight: 700;
    text-align: center;
  }

  .theme-inside-auth-container .left-div form {
    margin-top: 24px;
  }

  .theme-inside-auth-container .left-div form label {
    font-size: 14px;
    font-weight: 400;
    @apply text-[#7F818D];
  }

  .theme-inside-auth-container .right-div h2 {
    font-size: 32px;
    line-height: 32px;
    color: #fff;
    font-weight: 700;
  }

  .theme-inside-auth-container .right-div p {
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 24px;
  }

  .theme-inside-auth-container .right-div .action-btns {
    display: flex;
    justify-content: center;
    margin-top: 28px;
  }

  .theme-inside-auth-container .right-div .action-btns .submit-btn {
    height: 42px;
    padding: 0 16px;
    min-width: 160px;
  } */

  /* end: theme-inside-auth-sec */
}

.react-time-picker__wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 12px;
  justify-content: space-between;
}


/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--theme-primary-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--theme-primary-color);
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}