@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
    /* theme colors */
    --theme-primary-color: #DB2302;
    --theme-gray-light: #F3F3F3;
    --theme-gray-dark: #E8E8E8;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {

  /* start: common */
  .table-responsive {
    @apply w-[100%] overflow-x-auto;
  }

  .theme-btn-s1 {
    @apply bg-[var(--theme-primary-color)] text-white !important;
    @apply transition !important;
  }
  .theme-btn-s1:hover{
    @apply shadow-[1px_1px_11px_#9f9f9f];
  }
  /* end: common */
  /* start: theme-table-s1 */
  .theme-table-s1 table {
    @apply w-full border-[0] border-separate border-spacing-0;
  }

  .theme-table-s1 table thead tr th {
    @apply bg-[var(--theme-gray-light)] border-y-[1px] border-[var(--theme-gray-dark)];
    @apply text-[#333] text-[14px] font-[500] leading-[normal] capitalize;
    @apply py-[16px] px-[24px];
  }

  .theme-table-s1 table thead tr th:first-child {
    @apply border-l-[1px] border-[var(--theme-gray-dark)] rounded-tl-[5px] rounded-bl-[5px];
  }

  .theme-table-s1 table thead tr th:last-child {
    @apply border-l-[1px] border-[var(--theme-gray-dark)] rounded-tr-[5px] rounded-br-[5px];
  }

  .theme-table-s1 table tbody tr {
    @apply bg-transparent !important;
  }

  .theme-table-s1 table tbody tr td {
    @apply text-[#7F818D] text-[15px] font-[500] leading-[24px] capitalize;
    @apply py-[24px] px-[24px];
    @apply border-b-[1px] border-[var(--theme-gray-dark)];
  }

  .theme-table-s1 .product-image-with-text {
    @apply flex gap-x-[20px] items-center;
  }

  .theme-table-s1 .product-image-with-text .image-container {
    @apply w-[82px] h-[82px] border-[1px] border-[var(--theme-gray-dark)] bg-white;
  }

  .theme-table-s1 .product-image-with-text .image-container img {
    @apply w-full h-full object-scale-down rounded-[inherit];
  }

  .theme-table-s1 .product-image-with-text figcaption {
    @apply text-[#7F818D] text-[15px] not-italic font-medium leading-6 capitalize;
  }

  .theme-table-s1 .td-action-btns {
    @apply flex items-center gap-x-4;
  }

  .theme-table-s1 .td-action-btns .td-circle-btn {
    @apply w-[35px] h-[35px] flex items-center justify-center shadow-none transition ease-in-out p-0 rounded-[50%] hover:shadow-[0px_1px_9px_0px_#ababab];
  }

  .theme-table-s1 .td-action-btns .td-circle-btn img {
    @apply w-[18px];
  }

  .theme-table-s1 .td-action-btns .td-circle-btn.edit {
    @apply bg-[#F2F4F5];
  }

  .theme-table-s1 .td-action-btns .td-circle-btn.trash {
    @apply bg-[#FEF8F7];
  }

  .theme-pagination-s1 {
    @apply flex flex-wrap justify-center w-full gap-x-1.5 pt-12 pb-8 px-0;
  }

  .theme-pagination-s1 button:not(.theme-btn-s1) {
    @apply w-[30px] h-[30px] border bg-white text-black text-[13px] not-italic font-medium leading-[13px] p-0 rounded-none border-solid border-[#E0E0E0];
  }

  .theme-pagination-s1 button.theme-btn-s1 {
    @apply h-[30px] w-[71px] gap-x-1.5 p-0 rounded-[1.96px];
  }

  .theme-pagination-s1 button.theme-btn-s1.frist {
    @apply mr-2.5;
  }

  .theme-pagination-s1 button.theme-btn-s1.last {
    @apply ml-2.5;
  }

  .theme-pagination-s1 button.current {
    @apply bg-[var(--theme-primary-color)] text-[#fff] border-[var(--theme-primary-color)] !important;
  }

  /* end: theme-table-s1 */
  /* start: body-content-s1 */
  .body-content-s1 {
    @apply py-[52px];
  }

  .custom-container-s1 {
    @apply max-w-[1440px] w-full mx-auto;
  }

  .body-content-s1-card {
    @apply px-[26px] py-[26px] !important;
  }

  .body-content-s1-search {
    @apply px-[0] pt-[0] pb-[26px] !important;
  }

  .body-content-s1-search .search-box {
    @apply bg-[url(../../assets/images/search-icon-gray.svg)] bg-no-repeat h-10 bg-[left_26px_center] bg-[#F8F5F5] border shadow-none text-[#A8A8A8] text-[13.261px] font-normal leading-[normal] tracking-[-0.029px] pl-12 pr-2.5 py-0 rounded-none border-solid border-[#F8F5F5];
    outline: none !important;
    @apply transition ease-in-out;
  }

  .body-content-s1-search .search-box::placeholder {
    opacity: 0.7;
  }

  input:focus {
    box-shadow: none !important;
    @apply border-[var(--theme-primary-color)] !important;
  }

  .body-content-s1 .main-content {
    @apply px-[0] py-[0] !important;
  }

  .body-content-s1 .main-content-card {
    padding: 16px 16px;
  }

  /* end: body-content-s1 */
}

.react-time-picker__wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 12px;
  justify-content: space-between;
}


/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--theme-primary-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--theme-primary-color);
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}