@import url(customfonts/stylesheet.css);

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @import url(./fonts/stylesheet.css); */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/MaterialIcons-Regular.eot);
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(./fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(./fonts/MaterialIcons-Regular.woff) format('woff'),
    url(./fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
  background-color: #eff2f9;
  font-family: 'GT America';
  color: #000000;

}

/*body.sticky {
  overflow: hidden;
  height: 100%;
}*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
audio,
video {
  display: block;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
  outline: none;
  display: block;
}

h4,
h5,
h6,
p {
  font-family: 'GT America';
}

blockquote,
q {
  quotes: none;
}

table {
  border-spacing: 0;
  width: 100%;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
}

audio,
canvas,
video {
  display: block;
}

audio:not([controls]) {
  display: none;
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin: 0;
}

sub {
  font-size: 80%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  bottom: -0.25em;
}

sup {
  font-size: 80%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

small {
  font-size: smaller;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  padding: 0;
  margin: 0;
}

a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: transparent;
  outline: none;
  text-decoration: none;
}

a:hover {
  background-color: transparent;
  text-decoration: none;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

input[disabled],
submit[disabled] {
  cursor: default;
}

button,
button[type="submit"],
button[type="reset"],
button[type="button"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  padding: 0;
  outline: none !important;
}


input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="url"] {
  padding: 0 8px;
  height: 30px;
  line-height: 30px;
  outline: none;
  font-size: 14px;
  width: 100%;
  color: #b3b3b3;
  border: 1px solid #b3b3b3;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border-radius: 5px;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

input[type="submit"],
input[type="button"],
input[type="reset"] {
  padding: 0 20px;
  border: none;
  cursor: pointer;
  outline: none;
  height: 30px;
  line-height: 30px;
  background-color: #04B800;
  color: #ffffff;
  font-size: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 0;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}


input[disabled] {
  cursor: default;
}

select {
  outline: none;
  background: url('/images/select-arrow.png') no-repeat 95% center #ffffff;
  border-radius: 46px;

  border: 1px solid #b3b3b3;
  height: 40px;
  width: 100%;
  padding: 8px 16px;

  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: .01em;
  color: #000;
  font-family: IBM Plex Sans, sans-serif;
  /* text-transform: uppercase; */
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="url"],
input[type="date"] {
  font-size: 13px;
  line-height: 22px;
  letter-spacing: .01em;
  color: #000;
  font-family: IBM Plex Sans, sans-serif;
  /* text-transform: uppercase;  */
  background: #FFF;
  border: 1px solid #b3b3b3;
  height: 40px;
  width: 100%;
  padding: 8px 16px;
  border-radius: 46px;

}

select::-ms-expand {
  display: none;
}

textarea {
  color: #b3b3b3;
  font-size: 15px;
  padding: 8px;
  height: 100px;
  outline: none;
  border-radius: 5px;
  width: 100%;
  display: block;
  resize: vertical;
  border: 1px solid #b3b3b3;
}

::-webkit-input-placeholder {
  color: #979797;

}

:-moz-placeholder {
  color: #979797;
}

::-moz-placeholder {
  color: #979797;
}

:-ms-input-placeholder {
  color: #979797;
}

.container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

a {
  cursor: pointer;
}

.error {
  color: #ed1c24;
}

.success {
  color: #04B800;
}

.leftalign {
  text-align: left;
}

.rightalign {
  text-align: right;
}

.centeralign {
  text-align: center;
}

.justifyalign {
  text-align: justify;
}

.alignleft {
  float: left;
  margin: 0 15px 15px 0;
}

.alignright {
  float: right;
  margin: 0 0 15px 15px;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p:empty {
  display: none;
}

p:last-child {
  margin-bottom: 0 !important;
}

a {
  color: #b3b3b3;
}

a:hover {
  color: blue;
}

h1 {
  font-size: 28px;
  font-family: 'Druk Text';
  font-weight: bold;
  line-height: 1.13;
  text-transform: uppercase;
  margin-bottom: 15px;
}

h2 {
  font-size: 28px;
  font-family: 'Druk Text';
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 40px;
}

h3 {
  font-size: 24px;
  font-family: 'Druk Text';
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 8px;
}

p {
  font-size: 14px;
  line-height: 1.3;
  font-weight: normal;
  font-family: 'GT America';
}

.content_body,
header,
footer {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
}

.page_wrapper {
  display: flex;
  flex-direction: row-reverse;
}

.headerlogo a {
  display: inline-block;
}

.side_nav {
  width: 92px;
  background-color: #141414;
  color: #fff;
  padding: 60px 8px;
  text-align: center;
}

.side_nav a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 10px;
  line-height: 1;
  transition: 0.3s;
}

.side_nav a:hover {
  color: rgba(255, 255, 255, 1);
}

.side_nav img {
  margin: 0 auto;
}

.show_mob {
  display: none;
}

.desktop_hide {
  display: none;
}

ul.side_nav_list li {
  margin-bottom: 28px;
}

.mobile_user {
  display: none;
}

.user {
  margin-bottom: 60px;
}

.user figure {
  width: 30px;
  height: 30px;
  margin: 0 auto 10px;
  border-radius: 50%;
  overflow: hidden;
}

.user figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user figcaption {
  font-size: 13px;
  font-family: 'Druk Text';
  font-weight: bold;
  letter-spacing: 1px;
}

.main_page_sc {
  background-color: #eff2f9;
  width: calc(100% - 92px);
  padding: 60px 0;
}

.container_fluid {
  max-width: 1245px;
  padding: 0 24px;
  width: 100%;
  margin: 0 auto;
}

/* .left_panel {
  width: 282px;
  margin-right: 24px;
} */
/* .right_panel {
  width: calc(100% - 306px);
} */
.left_panel img {
  width: auto !important;
  min-height: 100%;
  object-fit: cover;
}

.left_panel .owl-item>div {
  background-color: #fff;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 60px;

  padding: 0 24px;
}

.header_right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.search_section {
  width: 384px;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}

.search_section input {
  height: 47px;
  line-height: 47px;
  padding: 0 52px 0 21px;
  background-color: #fff;
  color: #000;
  font-size: 15px;
  width: 100%;
  border: none;
  transition: 0.3s;
  border-radius: 30px;
}

.search_section input:hover {
  background-color: #f2fdfe;
}

.search_section button {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  margin: auto 0;
  color: #000;
  border: none;
  outline: none;
  border-radius: 0;
  background-color: transparent;
  height: 24px;
  transition: 0.3s;
  padding-top: 3px;
}

.search_section:hover button {
  right: 20px;
}

.white_search_icon {
  display: block;
}

.main_menu {
  width: calc(100% - 384px);
  padding-left: 24px;
}

.main_menu.show {
  right: -20px;
}

.menu_btn {
  border: 0;
  width: auto;
  height: auto;
  cursor: pointer;
  background-color: transparent !important;
  padding: 0 15px;
  z-index: 1;
  transition: 0.3s;
  color: #fff;
  display: none;
  margin-top: 6px;
}

.menu_btn i {
  font-size: 44px;
}

.menu_btn:hover {
  color: #fff;
  background-color: #16364c;
  border-color: #16364c;
}

.menu_close {
  /* background: url(./Images/menu-close.svg); */
  /* background: url(./Images/youtube.png); */
  border: .0;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 32px;
  cursor: pointer;
  position: absolute;
  right: 80px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  padding: 0;
  background-position: center;
}

.white_logo {
  display: none;
}

.menu_btn i {
  color: #fff;
}

ul.nav_menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.nav_menu:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 2px;
  background-color: #DFDFDF;
  border-radius: 3px;
}

ul.nav_menu li {
  margin-right: 10px;
  font-size: 10px;
  padding-top: 20px;
  position: relative;
}

ul.nav_menu li:before {
  content: '';
  position: absolute;
  top: -2.5px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 5px;
  background-color: #4444B2;
  border-radius: 2px;
  transition: 0.3s;
}

ul.nav_menu li:hover:before,
ul.nav_menu li.active:before {
  width: 100%;
}

ul.nav_menu li:hover a,
ul.nav_menu li.active a {
  font-weight: bold;
}

ul.nav_menu li:last-child {
  margin-right: 0;
}

ul.nav_menu li a {
  color: #000;
  transition: 0.3s;
}

.left_user_details {
  width: 100%;
  min-height: 434px;
}

.user_info {
  text-align: center;
}

.user_info figure {
  border-radius: 50%;
  width: 72px;
  height: 72px;
  margin: 0 auto 21px;
  overflow: hidden;
  border: 2px solid #27F1E5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user_info figure img {
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: 50%;
}

.user_info h1 {
  font-size: 28px;
  margin-bottom: 15px;
}

.user_details_icon {
  margin: 0 auto 4px;
  display: table;
}

.user_info p {
  margin-bottom: 3px;
}

.user_info p:last-child {
  margin-bottom: 0;
}

.fan_following {
  margin: 20px auto;
  width: 190px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.fan_following data {
  font-size: 22px;
  color: #FB5E06;
  font-family: 'Druk Text';
  font-weight: bold;
  line-height: 1;
  margin-bottom: 5px;
  display: block;
}

.fan_following_info {
  padding: 0 12px;
  border-right: 1px solid #000;
  width: 50%;
}

.fan_following_info:last-child {
  border-right: none;
}

.fan_following_info a {
  color: #000;
  font-size: 11px;
}

.banner {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 22px;
  border-radius: 30px;
  overflow: hidden;
}

.solidBtn {
  height: 40px;
  line-height: 40px;
  background-color: #4444B2;
  color: #fff;
  text-transform: uppercase;
  padding: 0 23px;
  font-size: 18px;
  display: table;
  border-radius: 23px;
  font-family: 'Druk Text';
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.3s;
}

.solidBtn:hover {
  background-color: #FB5E06;
  color: #fff;
}

.left_user_details .solidBtn {
  margin: 0 auto;
}

.banner_img {
  position: relative;
  overflow: hidden;
  width: calc(100% - 306px);
  border-radius: 30px;
}

.banner_img figure {
  height: 100%;
}

.banner_img figure img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner_caption {
  position: absolute;
  left: 0;
  bottom: -52px;
  padding: 40px 20px;
  width: 235px;
  background-color: #fff;
  height: 150px;
  border-top-right-radius: 77px;
  border-bottom-right-radius: 77px;
}

.banner h2 {
  font-size: 22px;
  color: #323232;
  line-height: 1;
  font-family: 'Druk Text';
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: center;
}

.banner h2 strong {
  margin: 0 5px;
  display: inline-block;
  vertical-align: middle;
  font-weight: 500;
}

.banner i {
  width: 20px;
  font-size: 20px;
  vertical-align: middle;
}

.text_link {
  font-size: 12px;
  color: #fff;
  transition: 0.3s;
}

.text_link:hover {
  color: #FB5E06;
}

.banner .text_link {
  position: absolute;
  right: 25px;
  bottom: 40px;
}

.banner_right {
  width: 282px;
  margin-left: 24px;
  background-color: #323232;
  border-radius: 30px;
  color: #fff;
  padding: 0 20px 20px;
  overflow: hidden;
}

.banner_right_head {
  background-color: #fff;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  width: 189px;
  height: 189px;
  margin: -103px auto 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-bottom: 22px;
  text-align: center;
}

.banner_holder {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.banner_right_head h3 {
  font-size: 22px;
  color: #323232;
  vertical-align: middle;
  margin: 0 auto;
}

.banner_right_head h3 strong {
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
  font-weight: 500;
}

.atheletic_profile_info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #fff;
}

.atheletic_profile_details {
  width: 33.33%;
  position: relative;
}

.atheletic_profile_details:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  height: calc(100% - 20px);
  background-color: #fff;
  width: 1px;
}

.atheletic_profile_details:last-child:after {
  content: normal;
}

.atheletic_profile_details_box {
  display: inline-block;
}

.atheletic_profile_details:last-child strong {
  border-right: none;
}

.atheletic_profile_details strong {
  font-size: 50px;
  font-family: 'Druk Text';
  font-weight: 500;
  display: block;
  text-align: center;
  line-height: 0.8;
}

.atheletic_profile_details em {
  font-size: 11px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  font-style: normal;
  line-height: 1;
  margin-bottom: 8px;
}

.atheletic_profile_details:first-child {
  text-align: left;
}

.atheletic_profile_details:last-child {
  text-align: right;
}

.atheletic_table table th {
  font-size: 10px;
  padding: 10px 0;
  border-bottom: 1px solid #fff;
}

.atheletic_table table td {
  font-size: 11px;
  padding: 10px 0;
  border-bottom: 1px solid #F0F2F5;
  opacity: 0.8;
}

.atheletic_table table td i {
  font-size: 8px;
  vertical-align: middle;
}

.atheletic_table table td img {
  display: inline-block;
  margin-left: 4px;
  vertical-align: middle;
}

.home_page_content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.home_page_content .right_panel {
  /*background-color: #fff;*/
  /*padding: 33px 32px;*/
  /*border-radius: 30px;*/
}

.home_page_content .scrollable_content {
  background-color: #fff;
  padding: 33px 32px;
  border-radius: 30px;
}

.right_panel_content {
  padding-right: 67px;
}

.title {
  font-family: 'Druk Text';
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  color: #323232;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  z-index: 1;
  margin-bottom: 32px;
}

.title::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  left: 0;
  top: 11px;
  right: 0;
  margin: 0 auto;
  z-index: 0;
}

.title strong {
  font-weight: normal;
  background-color: #fff;
  padding: 0 15px;
  display: inline-block;
  z-index: 2;
  position: relative;
}

.white_content {
  background-color: #fff;
  border-radius: 30px;
  overflow: hidden;
  padding: 30px 21px;
  margin-bottom: 22px;
}

.white_content:last-child {
  margin-bottom: 0;
}

.home_page_content .left_panel .title {
  margin-bottom: 22px;
}

.left_panel figure a {
  display: table;
  margin: 0 auto;
}

.about_info {
  text-align: center;
  margin-bottom: 20px;
}

.about_info p img {
  display: inline-block;
  vertical-align: bottom;
  width: auto;
}

.read_text_link {
  color: #4444B2;
  font-family: 'Roboto', sans-serif;
  transition: 0.3s;
  font-size: 11px;
  font-weight: 600;
}

.read_text_link:hover {
  color: #FB5E06;
}

.social_icons {
  margin-bottom: 22px;
}

.social_icons li {
  display: inline-block;
}

.img_top_icon {
  margin-bottom: 6px;
}

.team_members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.team_members figure {
  width: 33.33%;
  padding: 0 3px;
}

.team_members figcaption {
  font-size: 12px;
}

.team_members figure img {
  margin: 0 auto 7px;
}

.read_bold_text_link {
  font-weight: bold;
  font-size: 12px;
  color: #4444B2;
  display: table;
  margin: 20px auto 0;
  transition: 0.3s;
}

.read_bold_text_link:hover {
  color: #FB5E06;
}

.event_date {
  width: 96px;
  height: 96px;
  padding: 15px;
  color: #fff;
  text-align: center;
  background-color: #4444B2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto 25px;
}

.event_date em {
  font-style: normal;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 5px;
}

.event_date strong {
  font-size: 60px;
  line-height: 0.75;
}

.event_details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 180px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.event_details:after {
  content: 'vs';
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 11.5px;
  color: #000;
  line-height: 1;
  z-index: -1;
}

.event_details figure {
  width: 50%;
  padding: 0 12px;
}

.event_details figcaption {
  font-size: 12px;
  color: #65676B;
}

.event_details figure img {
  margin: 0 auto 7px;
}

.teammates_img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 0 4px;
}

.teammates_img figure {
  margin: 0 -4px;
  border-radius: 50%;
  overflow: hidden;
}

.teammates_img figure a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #4444B2;
  text-align: center;
  background-color: #EEEEF2;
  font-size: 12px;
  font-weight: bold;
}

.game_table {
  font-size: 11px;
  color: #65676B;
}

.game_table table th,
.game_table table td {
  border-bottom: 1px solid #F2F2F2;
  padding: 7px 0;
  text-align: center;
}

.say_something {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile_img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: block;
  overflow: hidden;
  margin: 0 25px 20px 0;
}

.profile_img a {
  display: inline-block;
}

.say_something .text_input {
  width: calc(100% - 96px);
  margin-right: 16px;
}

.say_something .text_input input {
  width: 100%;
  height: 48px;
  background-color: #EFF2F9;
  border-radius: 48px;
  padding: 0px 24px;
  color: #323232;
  border: none;
  transition: 0.3s;
}

.say_something .text_input input:hover {
  background-color: #dcdcf4;
}

.say_something .camera_icon {
  width: 32px;
  height: 32px;
  background: #4444B2;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}

.say_something .camera_icon:hover {
  background-color: #FB5E06;
}

.say_something .video_icon {
  width: 32px;
  height: 32px;
  background: #4444B2;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.say_something .video_icon:hover {
  background-color: #FB5E06;
}

.say_something_content {
  width: calc(100% - 75px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 20px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.time_line {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 0px 0;
}

/*.home_page_content .right_panel {
  height: 1400px;
  overflow: scroll;
}*/
.time_line_post {
  display: flex;
  flex-direction: column;
  width: calc(100% - 75px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 30px;
}

.time_line_post_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px;
}

.time_line_post_name h2 {
  font-family: 'GT America';
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #141414;
  margin-bottom: 0;
}

.time_line_post_name h2 a {
  color: #141414;
}

.time_line_post_name h2 a:hover {
  text-decoration: underline;
}

.time_line_post_name h2 span {
  font-weight: 400;
}

.time_line_post_name p {
  color: #65676B;
  font-family: GT America;
  font-weight: normal;
  font-size: 12px;
}

.time_line_post_name .postdatetime {
  flex: 0 0 auto;
}

.time_line_post_name a {
  color: #65676B;
}

.time_line_post_name a:hover {
  text-decoration: underline;
}

.time_line_post_img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 390px;
}

.time_line_post_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.time_line_post_img figure {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.view_like a {
  font-size: 11px;
}

.like_icon_img {
  display: flex;
  justify-content: space-between;
  width: 65px;
  align-items: flex-end;
  font-size: 11px;
}

.time_line_post_like_view {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0;
  align-items: center;
}

.one_img a {
  width: 100%;
  height: 100%;
}

.two_img a {
  margin-right: 20px;
  width: calc(50% - 10px);
  height: 100%;
}

.two_img a:last-child {
  margin-right: 0;
}

.three_img .one_col {
  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;
  width: calc(50% - 10px);
  height: 100%;
}

.three_img a {
  height: 100%;
}

.three_img .two_col {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: calc(50% - 10px);
  height: 100%;
}

.three_img .two_col .first_img {
  height: calc(50% - 10px);
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.three_img .two_col .second_img {
  height: calc(50% - 10px);
  width: 100%;
  border-radius: 10px;
}

.four_img,
.more_img {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}

.four_img .one_col,
.more_img .one_col {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: calc(50% - 10px);
  margin-bottom: 20px;
  width: 100%;
}

.four_img .two_col,
.more_img .two_col {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: calc(50% - 10px);
  width: 100%;
}

.four_img .first_img,
.four_img .second_img,
.more_img .first_img,
.more_img .second_img {
  height: 100%;
  width: calc(50% - 10px);
}

.four_img .first_img,
.more_img .first_img {
  margin-right: 20px;
}

.more_img .two_col .second_img {
  position: relative;
}

.more_img .two_col .second_img .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(45, 48, 58, 0.42);
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

.more_img .two_col .second_img .overlay p {
  color: #fff;
  font-family: 'GT America';
  font-size: 30px;
  font-weight: bold;
}

.mobile_show_panel {
  display: none;
}

.owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -30px;
  text-align: center;
}

.owl-dots button {
  background-color: #323232 !important;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  opacity: 0.2;
  margin: 0 3px;
  display: inline-block;
}

.owl-dots button.owl-dot.active {
  opacity: 1;
}

.side_nav {
  position: fixed;
}

.side_nav_close {
  background-color: transparent;
  border: none;
  color: #fff;
  position: absolute;
  right: 10px;
  top: 10px;
}

.hide_here {
  display: none;
}

.side_nav_close i {
  font-size: 18px;
}

.hide_now {
  display: none;
}


/* Register page */

.register_mainblock {
  width: 100%;
  max-width: 443px;
  margin: auto;
  padding: 47px 0;
}

.register_logoblock img {
  margin: auto;
}

.register_step ul {
  padding: 44px 0 36px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 351px;
  margin: auto;
}

.register_step ul li {
  position: relative;
}

.register_step ul li::before {
  position: absolute;
  content: "";
  width: 95px;
  height: 1px;
  display: block;
  background-color: #B8B8B8;
  top: 18px;
  left: 50px;
}

.register_step ul li:last-child::before {
  display: none;
}

.register_step ul li.active a {
  color: #4444B2 !important;
  border: 1px solid #4444B2;
  background: #EAEAFF;
}

.register_step ul li.active::before {
  background-color: #4444B2;
}

.register_step ul li a {
  width: 35px;
  height: 35px;
  background: #F7F7F7;
  border: 1px solid #B8B8B8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 0;
  text-transform: uppercase;
  color: #B8B8B8 !important;
  font-family: 'Druk Text';
}

.register_step ul li a span {
  margin-top: 2px;
}

.register_formblock {
  background: #FFFFFF;
  border-radius: 30px;
  width: 100%;
  padding: 23px 30px 23px 30px;
}

.register_formblock h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #65676B;
  font-family: 'IBM Plex Sans', sans-serif;
  text-align: center;
  margin: 0 0 13px;
}

.register_formblock h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin: 0 0 15px;
}

.separatorborder {
  width: 100%;
  height: 1px;
  background-color: #CCCCCC;
  display: block;
}

.form_block1 {
  padding: 15px 0 0px;
}

.account_form label {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #65676B;
  font-family: 'IBM Plex Sans', sans-serif;
  margin-bottom: 10px;
}

.account_form .form-control {
  height: 43px;
  background: #FFFFFF;
  border: 1px solid #D8DCE6;
  border-radius: 46px;
  padding: 10px 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #000000;
  font-family: 'IBM Plex Sans', sans-serif;
  letter-spacing: 0.03em;

}

.account_form .form-control:focus {
  box-shadow: 0 0 0 1px #e4e4ff;
  border: #4444b2 1px solid;
}

.account_form .form_group {
  margin-bottom: 16px;
}

.account_form .form_group.pb20 {
  margin-bottom: 16px;
}

.custom_badge {
  padding: 7px 15px 9px 15px;
  font-weight: normal;
  display: flex;
  align-items: center;
  margin: 0 0 8px;
  letter-spacing: .5px;
  background-color: #4444b2;
  color: #000;
}

.custom_badge.badge-dark {
  color: #fff;
}

.custom_badge img {
  margin-left: 5px;
  margin-top: 3px;
}

.custom_badge .bicons {
  max-width: 18px;
}

.input_group {
  position: relative;
}

.input_group .right {
  background: transparent;
  border: none;
  outline: none;
  position: absolute;
  right: 19px;
  top: 13px;
}

.input_group .left {
  background: transparent;
  border: none;
  outline: none;
  position: absolute;
  left: 19px;
  top: 12px;
  display: flex;
  align-items: center;
}

.input_group .right span {
  font-size: 17px;
  color: #666666;
}

.input_group .left span {
  font-size: 17px;
  color: #e3e3e3;
}

.form_block2 {
  padding: 0px 0 0;
}

.form_block2 h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #000000;
  font-family: 'IBM Plex Sans', sans-serif;
  border-bottom: 1px solid #d4d4d4;
  padding: 0 0 4px;
}

@media (max-width: 480px) {
  .form_block2 h5 {
    font-size: 14px;
    padding: 0 0 3px;
  }
}

.form_block2 .fix-row {
  margin-right: -10px;
  margin-left: -10px;
}

.form_block2 .fix-row .fix-col {
  padding-right: 10px;
  padding-left: 10px;
}

.account_form .custom_padding_input {
  padding-left: 46px;
}

.padding_right_0 {
  padding-right: 0px;
}

.account_form p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #65676B;
  font-family: 'IBM Plex Sans', sans-serif;
  width: 100%;
  max-width: 287px;
  margin: 0 auto 31px;
}

.account_form p a {
  color: #4444B2;
  text-transform: uppercase;
  font-weight: 600;
}

.submit {
  width: 100%;
  max-width: max-content;
  height: 40px;
  background: #4444B2;
  border-radius: 23px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 12px 35px;
  font-family: 'Druk Text';
}

.submit svg {
  margin-left: 10px;
}

.submit:hover {
  background-color: #FB5E06;
  color: #fff;
}

/* End Register page */

/* success page */

.succees_text p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #65676B;
  margin: 0 0 20px;
  font-family: 'IBM Plex Sans', sans-serif;
}

.succees_text p:first-child {
  font-size: 18px;
  color: #000000;
  text-align: center;
  margin: 0 0 20px;
  font-weight: 500;
}

.succees_text p:last-child {
  margin: 0 0 40px !important;
}

.succees_imgblock {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  border: 2px solid #27E5F1;
  margin: 28px auto;
}

/* End success page */

/* account verification Page */

#dialog {
  margin: 28px auto 0;
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#dialog h3 {
  margin: 0 0 10px;
  padding: 0;
  line-height: 1.25;
}

#dialog span {
  font-size: 90%;
}

#dialog .light_text {
  font-size: 14px;
  color: #444444;
}

#dialog .bold_text {
  font-weight: 600;
  font-size: 16px;
}

#dialog #form input {
  margin-right: 19px;

  outline: none;
  width: 50px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #8C8C8C;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 28px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-family: Druk Text;
  padding-top: 2px;
}

@media (max-width: 575px) {
  #dialog #form input {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    font-size: 28px;
    line-height: 28px;
  }
}

#dialog #form input:nth-child(5n + 5) {
  margin-right: 0px;
}

#dialog #form input:focus {
  border-color: #000;
  box-shadow: inset 0 0 0px 1px #000;
}

#dialog #form {
  display: flex;
  justify-content: center;
}

#dialog #form input::-moz-selection {
  background: transparent;
}

#dialog #form input::selection {
  background: transparent;
}

#dialog #form button {
  margin: 30px 0 50px;
  width: 100%;
  padding: 6px;
  background-color: #B85FC6;
  border: none;
  text-transform: uppercase;
}

#dialog button.close {
  border: solid 2px;
  border-radius: 30px;
  line-height: 19px;
  font-size: 120%;
  width: 22px;
  position: absolute;
  right: 5px;
  top: 5px;
}

#dialog div {
  position: relative;
  z-index: 1;
}

#dialog img {
  position: absolute;
  bottom: -70px;
  right: -63px;
}

.resendcode_div {
  padding: 23px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resendcode_div a {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4444B2;
  font-family: 'IBM Plex Sans', sans-serif;
}

.otp_timer {
  width: 131px;
  height: 131px;
  background: #FFFFFF;
  border: 5px solid #27E5F1;
  border-radius: 50%;
  margin: 19px auto 29px;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.otp_timer_block {
  width: 101px;
  height: 101px;
  background: #27E5F1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.otp_timer_block p {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: 'Druk Text';
}

/* End account verification Page */

/* Login Page */

.login_mainblock {
  width: 100%;
  max-width: 443px;
  margin: auto;
  padding: 92px 0;
}

.login_logoblock img {
  margin: 0px auto 40px;
}

.login_formblock {
  background: #FFFFFF;
  border-radius: 30px;
  padding: 29px 50px;
  width: 100%;
}

.login_title {
  padding: 0 0 16px;
}

.login_title h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 4px;
  text-align: center;
}

.login_title p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #65676B;
  margin: 0 0 0;
  text-align: center;
}

.input_group a {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #000000;
  text-align: right;
  font-family: 'IBM Plex Sans', sans-serif;
  display: block;
  margin: 10px 0 0;
}

.login {
  max-width: 133px;
  padding: 0px 23px;
}

.loginwith_div {
  position: relative;
  padding: 24px 0px;
}

.loginwith_div p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #65676B;
  font-family: 'IBM Plex Sans', sans-serif;
  position: relative;
}

.loginwith_div p::before {
  content: "";
  position: absolute;
  width: 96.5px;
  height: 1px;
  left: -24px;
  top: 10px;
  background-color: #CCCCCC;
  display: block;
}

.loginwith_div p::after {
  content: "";
  position: absolute;
  width: 96.5px;
  height: 1px;
  right: -24px;
  top: 10px;
  background-color: #CCCCCC;
  display: block;
}

.loginwithsocial_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loginwithsocial_div a {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  border: 1px solid #E4EAF2;
  box-sizing: border-box;
  border-radius: 23px;
  width: 109px;
  height: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #000000;
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0 4px;
}

.loginwithsocial_div a:hover {
  background: #F1F4F9;
}

.loginwithsocial_div a img {
  margin-right: 7px;
}

.bntaccount_div {
  padding: 29px 0 0;
  display: flex;
  justify-content: center;
}

.bntaccount_div p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #65676B;
  margin: 0 0 0;
  text-align: center;
}

.bntaccount_div p a {
  color: #4444B2;
  text-transform: uppercase;
  font-weight: 700;
}

/* End Login Page */

/* .verifi_error_div{
  display: block;
  height: 30px;
} */

.registeredEmail {
  font-weight: 600;
  font-size: 16px;
}

/* button type check and radio button */

.buttonTypecheck {
  margin: 0 10px 5px 0 !important;
  position: relative;
  display: inline-flex !important;
}

.buttonTypecheck>input {
  position: absolute;
  width: 1;
  opacity: 0;
}

.buttonTypecheck .checkMark {
  display: flex;
  padding: 7px 15px;
  background: transparent;
  border: 1px solid #c5c5c5;
  min-width: 120px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  cursor: pointer;
}

.buttonTypecheck>input:checked~.checkMark {
  background-color: #4444b2;
  border-color: #4444b2;
  color: #ffffff;
}

.uploadImagePreview.not-rounded {
  border-radius: 10px;
  margin: 10px 0;
}

.uploadImagePreview.not-rounded img {
  border-radius: 10px;
}

.uploadImagePreview.not-rounded .UploadTrigger {
  right: -18px;
  bottom: -25px;
}


.tabLinkBtn {
  display: flex;
  margin: 10px -5px;
  flex-wrap: wrap;
}

.tabLinkBtn li {
  padding: 5px 5px;
}

.tabLinkBtn li a {
  display: flex;
  padding: 7px 15px;
  background: #ffffff;
  border-radius: 41px;
  min-width: 120px;
  border: 1px solid #cec5c5;
  justify-content: center;
  font-family: "Druk Text";
}

.tabLinkBtn li a.active {
  background-color: #4444b2;
  border-color: #4444b2;
  color: #ffffff;
}

.account_form .form-control::-webkit-input-placeholder {
  color: #979797;
  text-transform: uppercase;
  font-size: 12px;

}

.account_form .form-control:-moz-placeholder {
  color: #979797;
  text-transform: uppercase;
  font-size: 12px;
}

.account_form .form-control::-moz-placeholder {
  color: #979797;
  text-transform: uppercase;
  font-size: 12px;
}

.account_form .form-control:-ms-input-placeholder {
  color: #979797;
  text-transform: uppercase;
  font-size: 12px;
}

.loader_div {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100% !important;
}

.loader_div.full_page {
  padding-top: 100px
}

.loader_div img {
  margin: 0 auto;
}

.modal-content {
  border-radius: 40px;
}

.full_width {
  width: 100%
}

.send_receive {
  width: 100%
}

.termsModal .modal-dialog .modal-footer button.skip_button {
  background: transparent;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4444B2;
}

.termsModal.smallsize .modal-dialog {
  max-width: 480px;
}

.termsModal.smallsize .modal-dialog .modal-content {
  border-radius: 54px;
  padding: 37px 40px;
  min-height: 446px;
}

.form-control:focus {
  box-shadow: 0 0 0 1px #e4e4ff;
  border: #4444b2 1px solid !important;
}

button.skip_button {
  background: transparent;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4444B2;
  border: 0;
  margin-top: 10px;
}

.text_link {
  background: transparent;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 21px;
  text-align: right;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4444B2;
  cursor: pointer;
}

.termsModal.smallsize.no_padding .modal-dialog .modal-content {
  padding: 12px 0 !important
}

.pb0 {
  padding-bottom: 0
}

.error_message {
  color: red;
  font-size: 12px;
  display: block;
}

.p0 {
  padding: 0 !important
}

.pt24 {
  padding-top: 24px
}

.addmember_mainblock .addmember_formblock.p40 {
  padding: 40px;
}

.only_mobile {
  display: none
}


@media only screen and (max-width: 767px) {
  .footer_menu {
    position: fixed;
    width: 100%;
    display: flex;
    bottom: 64px;
    background: #141414;
    z-index: 100000;
    height: calc(100% - 60px);
    left: 0;
    flex-direction: column;
    padding: 20px;
    top: 0;
  }

  .footer_menu li {
    width: 100% !important;
  }

  .footer_menu li a {
    display: flex !important;
    align-items: center;
    justify-content: flex-start;
  }

  .footer_menu a figure {
    margin: 0px 8px 0px 0px !important
  }

  .register_mainblock {
    padding: 0px 0;
  }

  .only_mobile {
    display: block
  }
}


.pt0 {
  padding-top: 0px;
}

.form_box {
  position: relative;
}

.editprofile_mainblock .editprofile_mainblock_form .user-details-page .form_right .form-group.form_box .stick_field {
  position: absolute;
  width: 160px;
  opacity: 0.8;
  font-weight: normal;
  font-size: 13px;
  line-height: 22px;
}

.editprofile_mainblock .editprofile_mainblock_form .user-details-page .form_right .form-group.form_box .form-control {
  padding-left: 180px !important
}

.form_box .stick_field:after {
  content: "";
  width: 1px;
  height: 49px;
  background: #cacaca;
  transform: rotate(32deg);
  display: block;
  right: 15px;
  top: -12px;
  position: absolute;
}

.editprofile_mainblock .editprofile_mainblock_form .user-details-page .form_right .form-group .form-control.pl0 {
  padding-left: 24px
}

.flexwrap {
  flex-wrap: wrap
}

.width100 {
  width: 100%
}

.container,
.container-sm {
  max-width: 100%
}

.pt12 {
  padding-top: 12px
}

.pt10 {
  padding-top: 10px;
  text-align: left;
}


/* .mobile_fullwidth{
  width: 100% !important;
} */



.toggle {
  display: block;
  position: relative;
  background: none;
  margin: 0 0 0.5em 0;
}

.toggle input[type="checkbox"] {
  opacity: 0 !important;
}

.toggle input[type="checkbox"]+label {
  position: absolute;
  top: 0;
  left: 0;
  color: #000;
}

.toggle input[type="checkbox"]+label:before {
  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: absolute;
  top: 4px;
  left: 78px;
  content: '';
  width: 2.25rem;
  height: 0.75rem;
  background-color: #767676;
  border-radius: 0.5rem;
}

.toggle input[type="checkbox"]:checked+label:before {
  background-color: #4444B2;
}

.toggle input[type="checkbox"]+label:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75), ;
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  position: absolute;
  top: 0rem;
  left: 70px;
  width: 1.25rem;
  height: 1.25rem;
  content: '';
  font-size: 0.75em;
  background-color: #fff;
  border-radius: 500rem;
  border: 2px solid #767676;
}

.toggle input[type="checkbox"]:checked+label:after {
  transform: translateX(1.5rem);
  border: 2px solid #4444B2;
}

.toggle.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.swal2-styled.swal2-confirm {
  display: inline-block;

  max-width: 135px;
  height: 40px;
  background: #4444b2 !important;
  border-radius: 23px !important;
  letter-spacing: 0.03em;
  color: #ffffff;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 12px 35px;
  font-family: Druk Text;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  max-width: initial;
}

.swal2-actions {
  flex-direction: column;
}

.swal2-styled.swal2-cancel {
  border: 0;
  border-radius: .25em;
  color: #fff;
  font-size: 1.0625em;
  background: transparent !important;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 12px !important;
  line-height: 21px;
  letter-spacing: .03em;
  text-transform: uppercase;
  color: #4444b2 !important;
}

.loading_gif {
  width: auto !important;
  height: auto !important;
  margin: auto;

}

.time_line_post_img video {
  max-width: 100%
}

.allcomments {
  height: calc(100% - 494px);
  overflow: auto
}

.gmap_canvas iframe {
  width: 100% !important
}


/* Responsive CSS */
@media screen and (max-width: 880px) {
  .sort_right_btn_bay.flexwrap {
    margin-top: 0px;
  }
}

@media screen and (max-width: 767px) {
  .mediaimg_details_modal {
    padding: 0 !important
  }

  .mediaimg_details_modal .modal-dialog {
    margin: 0
  }

  .mediaimg_details_modal .modal-content {
    border-radius: 0px;
    border: 0;
  }

  .allcomments {
    max-height: 400px;
    height: auto;
  }

  .right_panel_content {
    padding-right: 0px;
  }
}

@media screen and (max-width: 480px) {
  .social_table.table-responsive-lg table tbody tr td::before {
    min-width: 100px
  }

  .modal.show .modal-dialog {
    margin: 0;
  }

  .embedmodal .modal-dialog .modal-content {
    border-radius: 0;
    padding: 12px 12px;
  }

  .modal-body {
    padding: 12px 0px;
  }

  .container_fluid {
    padding: 0px 12px;
  }

  .termsModal.smallsize .modal-dialog .modal-content {
    border-radius: 0px;
  }

  .m_flex_wrap {
    flex-wrap: wrap;
    flex-direction: column-reverse
  }

  .m_flex_wrap p {
    padding-top: 10px;
  }

  .addmember_mainblock .addmember_formblock.p40 {
    padding: 16px;
  }

  .body_sticky {
    overflow: hidden;
    height: 100%;
  }

  .container-fluid {
    padding-right: 8px;
    padding-left: 8px;
  }

  .eventdates .mb20 {
    margin-bottom: 12px
  }

  .mp40 {
    padding-top: 50px;
    position: relative
  }
}

.perofile_right_btn {
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  background-color: #4444b2;
  color: #fff;
  text-transform: uppercase;
  padding: 0 23px;
  font-size: 18px;
  border-radius: 23px;
  font-family: "Druk Text";
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.3s;
  display: inline-block;
  margin-bottom: 10px;
}

.perofile_right_btn:hover {
  background-color: #fb5e06;
  color: #fff;
}

.program_listing_block .search_listing .search_result .search_card.team_card .search_card_col2 {
  padding-left: 6px
}

.rec-carousel-wrapper {
  text-transform: uppercase
}

.helptext {
  font-size: 12px;
  color: #999;
}

.editprofile_mainblock .editprofile_mainblock_form .user-details-page .form_right .form-group .form-control.nopadding {
  padding-left: 24px;
}

.editprofile_mainblock_form .errorMsg,
.editprofile_mainblock_form .error_span {
  margin-top: -15px;
  padding-bottom: 15px;
}

.add_measure {
  margin-bottom: 24px
}

.add_media_modal .modal-dialog .modal-content .modal-body .say_something .say_something_content .text_input input:focus {
  -webkit-box-shadow: 0 0 0 1px #e4e4ff;
  box-shadow: 0 0 0 1px #e4e4ff;
  border: 1px solid #4444b2 !important;
}

.tag_input>div {
  border-radius: 30px;
}

.css-1pahdxg-control:hover {
  border: 1px solid #4444b2 !important;
  box-shadow: 0 0 0 1px #e4e4ff;
}

.css-1hb7zxy-IndicatorsContainer {
  font-family: IBM Plex Sans, sans-serif;
  padding-left: 24px;
  font-size: 13px
}

.user_badge {
  width: 100%;
  max-width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: normal;
  font-size: 10px;
  color: #000 !important;
  position: relative;
  background-color: transparent !important;
}

.user_badge img {
  margin-top: 0;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  object-fit: cover;
}

.swal2-styled.swal2-deny {
  padding: 0px 10px;
}

.account_form .input_group .custom_badge {
  color: #fff;
}

.unauthmodal .register_mainblock {
  padding: 0 0 16px;
}

.unauthmodal .register_formblock {
  padding: 0;
}

/* ================== start: responsive css ================== */
@media (max-width: 575px) {
  .perofile_right_btn {
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    font-size: 14px;
  }
}

/* ================== start: responsive css ================== */